<div>
    <div id="policy_screen">

        <div class="help_title">WELIVE – TERMINI E CONDIZIONI DI UTILIZZO</div>

        <div class="policy_box">

            <div class="policy_text">

                <p class="tool_tit">1. INTRODUZIONE: TERMINI e CONDIZIONI – Si applicano universalmente tranne in quei paesi dove verranno pubblicati
                    termini e condizioni specifici.</p>

                <p class="tool_desc">I seguenti termini e condizioni di utilizzo ("Termini") stabiliscono i diritti, gli obblighi e le restrizioni
                    che si applicano ad ogni persona ("Utente") che acceda ad un qualsiasi servizio web ("Servizio") fornito
                    all’interno del dominio Internet http://www.welive.eu al fine di accedere, scaricare e utilizzare l'applicazione
                    WeLive Player e le diverse applicazioni di utilizzo publico ("Applicazione") o qualunque altro servizio
                    fornito utilizzando le applicazioni medesime. Tutti gli artefatti, cioè “dataset”, “building block” (o
                    micro-servizi componibili) e “app”, gestiti all'interno della soluzione WeLive, sono gestiti dal suo
                    framework ("Framework"). L'applicazione WeLive Player funge da “marketplace” per le applicazioni sviluppate
                    nel framework WeLive, consentendo agli utenti di scoprire quali applicazioni sono disponibili nelleloro
                    vicinanze facendo uso di dati pubblici. Inoltre, il sito Web consente l'accesso ad altri artefatti ("Artefatti")
                    come ad esempio: applicazioni di utilità pubblica, “building block” e “dataset”. Il Framework, il sito
                    Web e l'Applicazione, quando non altrimenti specificato, sono forniti da tutti i partner che compongono
                    il Consorzio WeLive ("Consorzio"). Il progetto WeLive (http://www.welive.eu) ha ricevuto un finanziamento
                    dal programma Horizon 2020 dell'Unione Europea per la ricerca, lo sviluppo tecnologico e la divulgazione
                    con la concessione numero 645845. Il progetto ha una durata prevista di 36 mesi a partire da febbraio
                    2015 fino a gennaio 2018.</p>
                <p class="tool_desc">I presenti Termini e condizioni sono disponibili nelle applicazioni installate sui dispositivi o nel sito
                    Web. </p>
                <p class="tool_desc">È necessario accettare i Termini e le altre leggi applicabili per quanto riguarda l’utilizzo dei servizi
                    forniti da WeLive attraverso le sue componenti e artefatti (Artefatti, sito Web e Framework). L'utente
                    potrebbe svolgere il ruolo di consumatore di servizi WeLive, ma potrebbe anche produrre servizi (prosume).
                    I servizi forniti devono rispettare la normativa sulla gestione dei dati del paese che ospita l’infrastruttura
                    di WeLive. I servizi gratuiti e i dati non privati forniti dall'Utente e ospitati nel Framework sono
                    di proprietà del Consorzio. Tuttavia, il fornitore di un artefatto ha il diritto di rimuovere i propri
                    artefatti pubblicati, indipendentemente dal fatto che essi siano utilizzati da altri o meno. Quando un
                    utente annulla la sua registrazione sul framework, i suoi artefatti vengono resi anonimi e rimarrà nel
                    Framework a meno che un utente non indichi esplicitamente il desiderio di vederli rimossi.</p>
                <p class="tool_desc">Nel caso non siate d'accordo con questi Termini o consideriate che eventuali futuri cambiamenti di questi
                    Termini saranno inaccettabili per voi, siete pregati di non usare WeLive. Utilizzare WeLive inclusi,
                    ma non solo, il sito Web, l'Applicazione, il Framework, i “building blocks”, i “dataset”, le applicazioni
                    di utilità pubblica, gli aggiornamenti, etc. significa accettare i Termini e ogni eventuale loro modifica.
                    Si accetta di utilizzare WeLive solo per scopi che sono legali, corretti e conformi ai presenti Termini
                    e alle norme applicabili.</p>
                <p class="tool_desc">I Termini si considerano accettati, quando li si accetta espressamente durante la procedura di registrazione
                    e/o in fase di installazione dell'Applicazione, quando la si scarica o la si aggiorna o quando la si
                    utilizza con il proprio dispositivo.</p>

                <p class="tool_tit">2. POLITICA DI UTILIZZO</p>
                <p class="tool_desc">WeLive è un framework open source offerto gratuitamente utilizzabile senza limitazioni. Vi impegnate a fare
                    un uso ragionevole del Sito, del Framework e della Applicazione e di qualsiasi altro tipo di manufatto.
                    Deteriorare le prestazioni del sistema tramite la lettura o scrittura di dati in grande quantità, determinando
                    così un peggioramento dell'utilizzo che viene fatto del Servizio da parte di altri utenti, è una violazione
                    dei Termini di utilizzo.</p>
                <p class="tool_desc">Il sito Web e l’Applicazione consentono di pubblicare alcune informazioni. Sarete ritenuti responsabile per
                    le informazioni, le opinioni, i commenti, etc. che esprimerete in WeLive, direttamente o tramite il sito
                    Web, l'Applicazione e/o il Servizio. L'utente si impegna a non pubblicare, o incoraggiare, la pubblicazione
                    di: </p>
                <ul>
                    <li> Informazioni che siano offensive, discriminatorie, umilianti, oscene, etc. o che possano causare offesa
                        ad altri per questioni di razza, religione, sesso o etnia; </li>
                    <li> qualunque materiale che possa incitare a commettere atti criminosi; </li>
                    <li> qualsiasi materiale che non sia vostro o per cui avete l’autorizzazione alla pubblicazione o che infranga
                        diritti d’autore, patenti o marchi registrati; </li>
                    <li> pubblicità, spam, vendite a schema piramidale; </li>
                    <li> informazioni per ingannare altri utenti; </li>
                    <li> informazioni su come sfruttare buchi di sicurezza; </li>
                    <li> file contenenti virus, Trojans o qualsiasi altro tipo di codice maligno che può avere effetti negativi
                        sulla performance dei Servizi o sugli altri Utenti; </li>
                    <li> file, link o altro materiale che cerca di entrare in possesso di altri account; </li>
                    <li> qualsiasi pezzo di software che cerca di raccogliere informazioni da altri utenti; </li>
                    <li> qualsiasi altro oggetto che aggira o non è conforme alla legislazione vigente. </li>
                </ul>

                <p class="tool_desc">A volte è necessario registrarsi presso il sito Web e/o alcune delle applicazioni sviluppate e ospitate attraverso
                    WeLive per essere in grado di usarli. L'Utente si impegna a fornire informazioni reali durante il processo
                    di registrazione e ogni volta che il servizio lo richiede. È necessario aggiornare le informazioni in
                    caso di variazioni. In caso di sospetto sulla veridicità dei dati abbiamo il diritto di sospendere il
                    vostro account. Se un utente annulla la registrazione di WeLive, tutti i manufatti forniti rimarranno
                    anonimi, cioè senza i collegamenti per l'utente non più registrato, nel Framework. </p>
                <p class="tool_desc">Il framework WeLive fornisce una Application Programming Interface (“API”) pubblica con alcuni metodi che
                    permettono di modificare lo stato degli utenti, delle idee e dei manufatti presenti all'interno del framework.
                    Solo gli utenti che si sono in precedenza registrati nel framework e il cui profilo viene memorizzato
                    nella componente Citizen Data Vault (“CDV”) sono autorizzati ad eseguire tali operazioni. La violazione
                    dei Termini di utilizzo causerà la cancellazione dell'account utente e il rifiuto della creazione di
                    un nuovo account e potrebbero essere anche applicati alcuni metodi per evitare l’utilizzo futuro dell'Applicazione
                    da parte dell'utente cancellato. </p>
                <p class="tool_desc">E’ nostra facoltà di cambiare il Servizio in qualsiasi momento, aggiungendo, modificando o soppremendo alcuni
                    di essi. Cercheremo di comunicare tali modifiche in modo ragionevole. Se continuate ad usare il servizio,
                    significa che avete accettato i cambiamenti e i Termini di utilizzo.</p>

                <p class="tool_tit">3. SERVIZI A PAGAMENTO</p>
                <p class="tool_desc">Il sito Web, il Framework, l’Applicazione, la API pubblica, i servizi di utilità pubblica e qualsiasi altro
                    tipo di manufatto fornito dal consorzio WeLive sono a costo zero durante l'esecuzione dei piloti nelle
                    sue due fasi. D'altra parte, l'utilizzo dei servizi di utilità pubblica, delle applicazioni, dei “building
                    block” o di altri artefatti forniti da terzi può comportare un costo. Eventuali pagamenti per tali servizi
                    di terze parti sono addebitate direttamente dal fornitore di servizi al di fuori del Frameowrk di WeLive
                    e WeLive non è responsabile per tali operazioni di pagamento in alcun modo. </p>
                <p class="tool_desc">Verso la fine del progetto sarà definita una politica dei prezzi per i manufatti. Nel caso in cui venga deciso
                    di cambiare il Servizio o parte di esso in un servizio a pagamento, dopo la fine del progetto, questo
                    verrà comunicato insieme al prezzo, in modo ragionevole e comunque con un preavviso sufficiente in modo
                    tale da consentire agli utenti di smettere di usare il servizio se non vogliono pagare. </p>
                <p class="tool_desc">L'Applicazione può richiedere l'accesso ad una rete di comunicazione per un corretto funzionamento. L'accesso
                    ad una rete può significare costi aggiuntivi per l'utilizzo di reti di dati. Questi costi non sono attribuibili
                    a WeLive e l'Utente deve occuparsene autonomamente. </p>

                <p class="tool_tit">4. RISERVATEZZA DEI DATI</p>
                <p class="tool_desc">Prima di utilizzare il Servizio, gli utenti devono approvare il modulo di consenso, che verrà presentato
                    loro la prima volta che viene avviata l'applicazione o viene effettuato l’accesso ad sito Web. Quando
                    si compila il modulo di registrazione nel sito o in alcune delle applicazioni WeLive, è necessario fornire
                    alcuni dati personali (non sensibili) che ci si aspetta che vengnao gestiti diligentemente. Le applicazioni
                    e/o il sito Web di WeLive non faranno mai richiesta di dati sensibili (per maggiori informazioni su quali
                    siano i dati sensibili si prega di fare riferimento all’Articolo 8 della DIRETTIVA 95/46/EC - https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf).
                    Il Consorzio (“TECNALIA Ricerca e Innovazione” e il resto dei partner) gestiranno i dati in modo adeguato
                    e sempre in conformità con le normative nazionali o, se del caso, con l'imminente legge sulla protezione
                    dei dati dell'UE, che entrerà in vigore nel 2018. </p>
                <p class="tool_desc">Inoltre l'utente deve proteggere l'account fornito utilizzando gli strumenti di sicurezza forniti con esso
                    inclusi ma non limitati a, scegeliere una password sicura, cambiare spesso la password, non condividere
                    i dati di login, etc. </p>
                <p class="tool_desc">Il Consorzio utilizzerà i dati forniti dagli Utenti, per gestire l'uso del sito Web, della Applicazione,
                    del Framework e dei manufatti WeLive. Non verranno effetuate azioni commerciali utilizzando i dati degli
                    utenti. </p>
                <p class="tool_desc">Il Consorzio raccoglierà dati personali degli utenti, sempre previa autorizzazione dell'utente, durante l'utilizzo
                    del Servizio. Tali dati saranno conservati nel Data Vault del Cittadino, una componente che assicura
                    che tutti gli accessi ai dati accengano in modo controllato e precedentemente autorizzato. I dati personali
                    raccolti saranno resi anonimi e aggregati al fine di generare indicatori statistici circa l'utilizzo
                    del Servizio. Infatti, vengono registrate delle tracce di utilizzo (“log”) in cui un utente viene identificato
                    da un ID univoco conosciuto solo da WeLive. Ciò serve a raccogliere informazioni sull’utilizzo degli
                    strumenti e dei manufatti di WeLive al fine di generare metriche e relative visualizzazioni per misurare
                    tempestivamente il grado di accoglimento e di coinvolgimento del framework e dei suoi servizi da parte
                    degli utenti. Queste informazioni saranno utilizzate per migliorare il Framework e i Servizi o per valutare
                    l’utilizzo dei diversi strumenti e componenti. Queste informazioni potrebbero anche essere utilizzate
                    ai fini di raccomandazione e per scopi analitici all'interno di WeLive. Inoltre, i dati personali (indirizzi
                    e-mail) saranno utilizzati anche per comunicare con gli utenti durante l’esecuzione della fase valutativa
                    del pilota. I dati personali non saranno mai comunicati a servizi di terze parti, a meno che l'utente
                    non acconsenta esplicitamente. </p>
                <p class="tool_desc">
                    Il sistema WeLive non raccoglie in modo esplicito dati sensibili. Nuove applicazioni in grado di raccogliere dati personali
                    non dovrebbero usare le componenti di WeLive per memorizzare dati sensibili. WeLive non permette di memorizzare
                    al suo interno dati personali sensibili degli utenti. La nostra definizione di dati sensibili è quella
                    data dall’advice paper dell’UE sul tema1. Gli utenti delle applicazioni WeLive, per quanto riguarda la
                    conservazione dei dati sensibili all'interno di WeLive, devono adeguarsi alle restrizioni contenute nel
                    presente documento sui Termini e Condizioni di Utilizzo.</p>
                <p class="tool_desc">Gli utenti possono personalizzare l'utilizzo dell'Applicazione ed effettuare ricerche attraverso l’utilizzo
                    di alcuni filtri (che possono riguardare dati personali). Anche questi non verrrano raccolti per alcun
                    motivo. </p>

                <p class="tool_tit">5. PROPRIETA’ DEI DATI</p>
                <p class="tool_desc">I dati forniti dal Servizio e accessibili attraverso il sito Web, l'Applicazione e qualsiasi tipo di manufatto
                    che è parte dell'ambiente WeLive provengono da fonti accessibili al pubblico o si assume che i loro proprietari
                    ne consentano l'uso da parte del pubblico, e quindi mantengono la proprietà e il controllo di questi
                    i dati, in collaborazione con i gestori del Framework. Tuttavia è possibile memorizzare dati privati
                    ​​in WeLive ai quali sarà consentito di accedere solo da parte degli utenti autorizzati.</p>
                <p class="tool_desc">L'utente può accedere ai dati senza alcun costo. Eventuali lavori derivati ​​che accedono a questi dati dovrebbero
                    consentire l'accesso ad essi senza alcun costo.</p>
                <p class="tool_desc">Gli utenti sono autorizzati a creare nuovi “dataset” sia attraverso il Framework che attraverso l’Applicazione
                    e avranno pieno accesso ad essi. Al momento di creare un “dataset”, essi specificheranno se il “dataset”
                    sarà utilizzabile pubblicamente o privatamente. I contributi che saranno forniti dall'utente in relazione
                    ai dati, quando non di natura privata o personale, apparterranno sia all'utente che al gestore del framework
                    (Consorzio). Gli utenti potranno mantenere il controllo dei “dataset” che essi creano e saranno in grado
                    di modificarli o rimuoverli. I “dataset” derivati da altri “dataset” pubblici esistenti verranno condivisi
                    all’interno del Framework e non potranno essere rimossi a meno che essi non includano dati personali
                    o privati. Qualunque traccia, ad esempio l’ID dell’utente, che possa ricondurre a utenti che hanno revocato
                    la loro registrazione sarà resa anonima agganciandola all’ID di un generico “utente rimosso”. In qualsiasi
                    momento, l'utente avrà accesso a tutti i suoi dati personali attraverso la componente del Framework denominata
                    Data Vault del Cittadino (CDV). Inoltre, attraverso la componente Open Data Stack (ODS) all’utente sarà
                    permesso di estrarre anche il contenuto di tutti i “dataset” che gli appartengono. Se si ha intenzione
                    di pubblicare su WeLive i dati presenti in altri siti, si prega di controllare prima la licenza, la politica
                    sulla privacy, i termini di utilizzo dei dati, etc. originali per aassicurarsi di avere il diritto di
                    agire in tal senso. Se si ha intenzione di pubblicare i “dataset” di WeLive su altri siti, si prega di
                    prima di controllare la regole sulla privacy, etc. di questi per essere sicuri di non violare i termini
                    di utilizzo di WeLive. Quando si ri-pubblica un “dataset” è necessario aggiungere un riferimento alla
                    sorgente originale dei dati. Il Consorzio WeLive non pagherà alcuna ricompensa in denaro per i dati pubblicati
                    dagli utenti. Si informa che il Consorzio può revisionare tutti i dati pubblicati dagli utenti e rimuoverli
                    in caso ritenga che i dati siano errati o violino gli obiettivi del sito, ad esempio nel caso risultino
                    offensivi. La componenti del Framework denominata Open Data Stack (ODS) fornisce meccanismi per individuare
                    i “dataset” che possono essere utilizzati in modo errato.</p>
                <p class="tool_desc">Verso la fine del progetto, per i “dataset” a valore aggiunto pubblicati, potrebbero essere applicate delle
                    politiche di pagamento in base all’utilizzo (“pay per use”), secondo il volere del creatore. </p>

                <p class="tool_tit">6. ACCURATEZZA DEI DATI</p>
                <p class="tool_desc">I dati vengono forniti dalle relative fonti "così come sono", cioè i contenuti effettivi dei dati non vengono
                    modificati, sebbene il formato nel quale essi vengono esportati potrebbe essere riorganizzato per facilitarne
                    l’utilizzo. TECNALIA e i partner del consorzio WeLive non sono responsabili per l'accuratezza e la disponibilità
                    dei dati o dei possibili danni e dei costi diretti o indiretti, che possano derivare dall'utilizzo di
                    queste informazioni. Il Framework non fornisce servizi di valutazione automatica della qualità dei dati
                    e di verifica della loro correttezza. </p>

                <p class="tool_tit">7. TERZE PARTI</p>
                <p class="tool_desc">A volte, partendo dal sito Web o da alcune Applicazioni, l'utente potrà accedere ad altri siti e social network,
                    esterni al Consorzio e gestiti da terze parti. TECNALIA e i partner del consorzio WeLive non sono responsabili
                    per la politica legata alla privacy o per eventuali costi di utilizzo di tali siti. </p>
                <p class="tool_desc">Se si utilizza un account social (Facebook, Google) per accedere al nostro sito Web o per utilizzare l'Applicazione,
                    TECNALIA e i partner di consorzio WeLive non raccolgono altre informazioni rispetto a quelle esplicitamente
                    autorizzate dall'Utente per la gestione dell’account e l'accesso ad esso. </p>
                <p class="tool_desc">Se vengono pubblicate informazioni sui social network, attraverso l'Applicazione o il sito Web, si prega
                    di notare che i dati saranno soggetti alla politica sulla privacy e ai termini di utilizzo e alle condizioni
                    di tali social network. </p>

                <p class="tool_tit">8. PROPRIETA’ DELLA APPLICAZIONE</p>
                <p class="tool_desc">Il sito Web, l’Applicazione, e il Framework sono di proprietà del Consorzio WeLive. Ogni altro manufatto
                    WeLive è di proprietà dei suoi autori e del gestore del Framework, vale a dire l'organizzazione che ospita
                    la soluzione WeLive. Lo sfruttamento di manufatti di terze parti, nel caso un modello di pagamento sia
                    impostato per il manufatto, sarà condiviso tra gli autori e l'organizzazione che ospita il Framework.</p>
                <p class="tool_desc">Gli autori concedono una licenza non esclusiva e revocabile per copiare, installare e utilizzare l'Applicazione
                    sui dispositivi degli utenti e per utilizzare il servizio senza alcun costo. Questa licenza non dà all'Utente
                    alcun diritto sulla proprietà della Applicazione che rimarrà in mano agli autori. </p>

                <p class="tool_tit">9. DISPONIBILITA’</p>
                <p class="tool_desc">TECNALIA e i partner del consorzio WeLive non si prendono alcun impegno sulla disponibilità del sito Web,
                    della Applicazione o delle informazioni. In ogni caso metteranno tutto lo sforzo possibile per evitare
                    o per ridurre al minimo eventuali interruzioni del servizio, cercando di massimizzare i tempi di fornitura.
                    I fornitori del Servizio informeranno di qualsiasi interruzione programmata del servizio in modo adeguato
                    e cercheranno di ridurre al minimo i tempi di inattività. </p>
                <p class="tool_desc">TECNALIA e i partner del consorzio WeLive non sono responsabili per i danni ed i costi diretti o indiretti
                    causati dalla mancata disponibilità del servizio. </p>

                <p class="tool_tit">10. PROTEZIONE LEGALE</p>
                <p class="tool_desc">Si garantisce all’utente una licenza non esclusiva e revocabile per installare copiare e utilizzare l’Applicazione
                    sui proprio dispositivo e per utilizzare il Servizio gratuitamente. </p>
                <p class="tool_desc">L’utente si dichiara d’accordo nel NON utilizzare l’Applicazione per: </p>
                <ul>
                    <li> Interferire con o manipolare il Servizio; </li>
                    <li> Modificare i dati aritificiosamente; </li>
                    <li> Raccogliere i dati degli utenti della Applicazione; </li>
                    <li> Minacciare, disturbare o vessare gli altri utenti; </li>
                    <li> Interferire con servizi di terze parti; </li>
                    <li> Non rispettare i diritti di autore di terze parti. </li>
                </ul>
                <p class="tool_desc">L’Applicazione è fornita “così com’è” e l’utente la utilizzerà sotto la sua personale responsabilità. Il
                    Consorzio declina ogni responsabilità per errori, malfunzionamenti nel vostro dispositivo, interruzioni
                    ad altre applicazioni, perdita di dati e indisponibilità, durante l’utilizzo dell'Applicazione.</p>

                <p class="tool_tit">11. INTERPRETAZIONE</p>
                <p class="tool_desc">Le presenti Condizioni di Utilizzo sono state redatte in lingua inglese e tradotte in altre lingue per la
                    convenienza dell'utente. L'utente può accedere e visualizzare le altre versioni linguistiche modificando
                    le impostazioni di lingua dell'applicazione. Se una versione tradotta (non in lingua inglese) delle presenti
                    Condizioni di Utilizzo confligge in alcun modo con la rispettiva versione inglese, le disposizioni della
                    versione inglese saranno ritenute prevalenti. </p>

            </div>

        </div>

    </div>

</div>