<div>
    <div id="policy_screen">
        <div class="help_title">WELIVE – УСЛОВИ КОРИШЋЕЊА</div>

        <div class="policy_box">

            <div class="policy_text">

                <p class="tool_tit">1. УВОД: Услови се примењују широм света, изузев у земљама у којима објављујемо посебне територијалне услове.
                </p>
                <p class="tool_desc">Ови услови („Услови“) представљају скуп важних информација у вези са правима, обавезама и ограничењима која
                    се могу применити на вас као корисника (“корисник”) када приступите неком од веб сервиса (“сервис”) обезбеђених
                    на Интернет домену www.dev.welive.eu с циљем приступања, преузмања и коришћења апликације WeLive Player
                    и апликације различитих јавних сервиса (“апликација”), као и свих других сервиса који се пружају њеним
                    коришћењем. Свим артефактима, тј. скуповима података (data sets), компонентама за креирање микро сервиса
                    (building blocks) и апликацијама у оквиру WeLive решења се управља путем WeLive Оквира (Framework - “Оквир”).
                    Апликација делује као тржиште (marketplace) за апликације које су развијене кроз WeLive Оквир и омогућава
                    корисницима да открију које су апликације доступне у њиховом окружењу путем коришћења јавних података.
                    Поред тога, вебсајт омогућава приступ другим артефактима као што су: апликације јавних сервиса, компоненте
                    за креирање (building blocks) и скупови података (data sets). Оквир, вебсајт и апликација, тамо где се
                    то изричито не предвиђа другачије, испоручују се од стране свих партнера који чине WeLive конзорцијум
                    (“Конзорцијум”). WeLive пројекат (www.dev.welive.eu) је добио средства Европске уније у оквиру Х2020
                    Програма за истраживање, технолошки развој и демонстрацију, на основу Уговора о донацији бр. 645845.
                    Пројекат траје 36 месеци почевши од фебруара 2015. до јануара 2018. године. </p>
                <p class="tool_desc">Ови Услови су доступни у апликацији која је инсталирана на вашем уређају или на вебсајту. </p>
                <p class="tool_desc">Морате прихватити Услове и друге важеће законе у вези са употребом WeLive -а, којим се обезбеђују сервиси
                    путем његових компоненти и артефаката (артефакт,вебсајт и оквир). </p>
                <p class="tool_desc">Корисник може имати улогу потрошача WeLive сервиса, али може такође и правити (креирати) сервисе. Допринети
                    сервиси морају бити у сагласности са важећим законодавством у вези заштите података земље у којој се
                    хостује WeLive инфраструктура. Слободни сервиси и подаци корисника који нису лични, а који се хостују
                    у Оквиру су власништво Конзорцијума. Међутим, провајдер артефакта има право да уклони сопствене објављене
                    артефакте, независно од тога да ли се они користе од стране неког другог или не. Када се корисник одјави
                    са Оквира, његови/њени артефакти се анонимизују и остају у Оквиру све док корисник експлицитно не наведе
                    своју жељу да се они уклоне. </p>
                <p class="tool_desc">Уколико се не слажете са наведеним Условима или сматрате да ће њихове евентуалне промене бити неприхватљиве
                    за вас, немојте користити WeLive. Коришћењем WeLive-а, уклјучујући, али не ограничавајући се на вебсајт,
                    апликацију, Оквир, компоненте за креирање (building blocks), скупове података (data sets),апликације
                    јавних сервиса, апдејтове, итд., сматрамо да сте прихватили наведене Услове и сваку унету промену коју
                    будемо на њих применили. Тиме прихватате коришћење WeLive -а исјључиво у законите, ваљане сврхе које
                    су у складу са наведеним Условима и свим примењивим прописима. </p>
                <p class="tool_desc">Сматрамо да прихватате Услове, када их изричито прихватите током процеса регистрације и / или процеса инсталације
                    апликације, када је преузмете или апдејтујете или када је користите у свом уређају. </p>

                <p class="tool_tit">2. ПОЛИТИКА КОРИШЋЕЊА</p>
                <p class="tool_desc">WeLive представља отворени оквир (оpеn sоurcе frаmеwоrk) који се нуди бесплатно, уз могућност коришћења без
                    ограничења. Обавезујете се на разумно коришћење вебсајта и апликације и сваку другу врсту артефакта.
                    Преплављивање или утицање на перформансе система прекомерним читањем или писањем података које утиче
                    на коришћење сервиса од стране других корисника, представља кршење Услова. </p>
                <p class="tool_desc">Вебсајт и апликација вам пружају могућност да објавите неке информације. Бићете одговорни за све информације,
                    мишљења, коментаре, итд. које изнесете у WeLive-у, директно или путем вебсајта, апликације и/или сервиса.
                </p>
                <p class="tool_desc">Корисник се обавезује да неће објављивати, или подстицати на објављивање:</p>

                <ul>
                    <li> информације које су увредљиве, дискриминишуће, понижавајуће, непристојне, итд., или које могу да повреде
                        друге у погледу расе, религије, пола или етничке припадности; </li>
                    <li> сваки материјал који подстиче на чињење злочина; </li>
                    <li> материјал који није ваш, за који немате овлашћење да га објавите или кршите ауторска права, патенте или
                        ознаке; </li>
                    <li> рекламе, спамове, пирамидалне шеме; </li>
                    <li> информације у циљу обмане других корисника; </li>
                    <li> информације о нарушавању сигурности; </li>
                    <li> датотеке које садрже вирус, тројанце или неку другу врсту злонамерног кода који може утицати на вршење
                        перформанси или друге кориснике; </li>
                    <li> датотеке, линкове или друге материјале којим се покушавају украсти налози других корисника; </li>
                    <li> сваки комад софтвера који се користи за прикупљање информација од другог корисника; </li>
                    <li> свака друга ствар која се користи у циљу заобилажења или непоштовања важећих локалних закона. </li>
                </ul>

                <p class="tool_desc">У појединим ситуацијама ћете морати да се региструјете на вебсајту и /или на некој од апликација које је
                    развијена или је хостована путем WeLive-а како би могли да их користите. Корисник се обавезује да обезбеди
                    тачне информације у току процеса регистрације и кад год сервис од њега то затражи. Морате апдејтовати
                    информације када у њој постоје промене. У случају сумње у истинитост ваших података, имамо право да суспендујемо
                    Ваш налог. Уколико се корисник одјави са WeLive -а, сви артефакти које је он обезбедио ће остати анонимизирани,
                    тј. без линка ка одјављеном кориснику, у Оквиру.</p>
                <p class="tool_desc">WeLive Оквир обезбеђује јавни Интерфејс за комуникацију између апликација (Application Programming Interface
                    – “API”) са неким методама које омогућавају промену статуса корисника, идеја или артефакта унутар Оквира.
                    Само корисницима који су се претходно регистровали на Оквир и чији су профили сачувани у Концепту “Data
                    Vault” складишта података за грађане (Citizen Data Vault – “CDV”) је омогућено да изврше такве операције.
                </p>
                <p class="tool_desc">Повреда политике коришћења ће проузроковати отказивање корисничког налога и одбијање за стварање новог, а
                    такође можемо применити неке методе како би се избегло будуће коришћење апликације од стране корисника
                    који имају забрану.</p>
                <p class="tool_desc">Можемо променити сервис у сваком тренутку, додајући, модификујући или сужавајући неки од њих. Настојаћемо
                    да наведене промене спроведемо у разумним границама. Уколико наставите да користите сервис, сматраћемо
                    да сте прихватили те промене, као и Услове. </p>

                <p class="tool_tit">3. ПЛАЋАЊЕ СЕРВИСА</p>
                <p class="tool_desc">Вебсајт, Оквир, апликација, јавни API јавни сервиси и свака друга друга врста артефакта која се обезбеђује
                    у WeLive-у су бесплатни за време трајања обе фазе пилота. Са друге стране, коришћење јавних сервиса,
                    апликација, компоненти за креирање (building blocks) или других артефакта обезбеђених од треће стране
                    могу бити укључени у цену. Могућа наплата за такве сервисе треће стране се врши директно од сервис провајдера
                    ван WeLive Оквира и WeLive није одговоран за ове трансакције плаћања ни на који начин. </p>
                <p class="tool_desc">До краја пројекта политика одређивања цена за артефакте ће бити дефинисана. У случају да одлучимо да променимо
                    сервис или један његов део, у сервис у којем се плаћа коришћење, о томе бисмо вас обавестили и цене одредили
                    на разуман начин, остављајући довољно времена корисницима да престану да користе сервис уколико не желе
                    да га плате. </p>
                <p class="tool_desc">Апликацији може бити потребан приступ мрежи за исправан рад. Приступ мрежи може да значи додатне трошкове
                    за коришћење мреже за пренос података. Ови трошкови се не могу приписати WeLive-у и корисник их мора
                    сам сносити.</p>

                <p class="tool_tit">4. ПРИВАТНОСТ ПОДАТАКА</p>
                <p class="tool_desc">Пре коришћења Сервиса, корисници морају прихватити Образац за давање сагласности (Consent Form), који ће
                    им бити обезбеђен први пут када покрену апликацију или приступе вебсајту. Када попуните формулар за регистрацију
                    на вебсајту или у некој од WeLive апликација, ви достављате поједине личне податке (ко ји не спадају
                    у осетљиве податке) и очекујете да ћемо њима савесно управљати. </p>
                <p class="tool_desc">WeLive апликација и/или вебсајт од вас никада неће тражити осетљиве податке (за додатне информације о осетљивим
                    подацима и шта се од њима подразумева молимо погледајте члан 8 Уредбе (Диреkтиве) 95/46/EC 1https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf)2.
                    ТЕCNАLIА Research and Innovation (“TECNALIA”) и остали партнери у WeLive конзорцијуму ће управљати подацима
                    на одговарајући начин и увек у складу са локалним прописима или, када је то примењиво, Европским законом
                    у вези заштите података који ће ступити на снагу 2018. године. </p>
                <p class="tool_desc">Осим тога, корисник мора заштити дат налог користећи сигурносна средства која су омогућена, уклјучујући,
                    али не ограничавајући се на: креирање јаке лозинке; често мењање лозинке; недељење података за пријаву
                    (login); итд. </p>
                <p class="tool_desc">WeLive Конзорцијум ће користити податке које су пружили Корисници, у циљу управлјања употребом Вебсајта,
                    Апликације, Оквира и WeLive артефактима. Ми не тргујемо са подацима корисника. </p>
                <p class="tool_desc">Конзорцијум ће прикупљати личне податке корисника, а корисник ће га увек за то овластити (ауторизовати),
                    током коришћења сервиса. Такви подаци ће се чувати у компоненти Citizen Data Vault, која осигурава да
                    само контролисани и претходно ауторизован приступ буде дозвољен. Прикупљени лични подаци ће бити анонимизирани
                    и агрегирани у циљу генерисања статистичких индикатора о коришћењу сервиса. У ствари, логови ће бити
                    издавани тамо где се корисник идентификује путем јединственог идентификационг броја („ИД“), у цилју агрегације,
                    који је познат једино WeLive систему. Ово служи прикупљању информација о коришћењу алатки и артефаката
                    у WeLive-у у циљу генерисања метрике и визуелизација које су на њима базиране, како би се у времену измерило
                    прихватање и приступање Оквиру и његовим сервисима.Ни метрика,као ни визуелизација не откривају корисников
                    ИД. Ова информација ће бити коришћена у циљу побољшања Оквира и/или сервиса или евалуације коришћења
                    различитих алатки и компоненти. Поред тога, лични подаци (имејл адресе) такође ће се користити за комуникацију
                    са корисницима за време евалуације пилота. Ове информације могу такође бити коришћене у сврху препоруке
                    и аналитике у WeLive-у. Лични подаци никад неће бити откривени сервисима треће стране, осим уколико се
                    корисник експлицитно не сложи с тим. </p>
                <p class="tool_desc">Корисници могу прилагодити коришћење апликације и претраге одређивањем неких филтера (могу укључити личне
                    податке). Они се такође не прикупљају из било ког разлога. </p>

                <p class="tool_tit">5. ВЛАСНИШТВО НАД ПОДАЦИМА</p>
                <p class="tool_desc">Подаци који се пружају путем сервиса и који су доступни преко вебсајта, апликације и сваке врсте артефакта
                    који су део WeLive средине, долазе из јавно доступних извора или њихови власници омогућавају њихово јавно
                    коришћење, а самим тим они одржавају власништво над подацима, заједно са менаџерима Оквира. Ипак,могуће
                    је сачувати приватне податке у WeLive-у где им само ауторизовани корисници могу приступити. Корисник
                    може бесплатно приступити подацима. </p>
                <p class="tool_desc">Корисник може да приступи подацима без накнаде. Свим изведеним радовима који приступају овим подацима би
                    требало омогућити приступ без накнаде. </p>
                <p class="tool_desc">Корисницима је омогућено да креирају нове скупове података или кроз Оквир или апликацију и имаће пун приступ
                    њима. Приликом креирања скупа података они ће специфицирати да ли ће скуп података бити јавно или приватно
                    коришћени. Подаци које корисник генерише, који нису ни приватне ни личне природе, припадаће и Корисницима
                    и онима који одржавају Оквир (Конзорцијум). Корисници ће управљати контролом ових скупова података које
                    су креирали и биће у могућности да их уклоне или освеже (update). Скупови података који су изведени из
                    јавних скупова података ће се делити путем Оквира и не могу се уклонити, изузев уколико садрже личне
                    или приватне податке. Сви трагови, нпр. ИД, који могу указати на нерегистроване кориснике у њиховим доприносима
                    садржају података ће бити анонимизирани путем повезивања на генеренички ИД уклоњеног корисника. У сваком
                    тренутку, корисник ће имати приступ, кроз компоненту Оквира “Data Vault” складишта података за грађане,
                    да издвоји све своје личне податке. Поред тога, путем компоненте Open Data Stack, корисницима ће бити
                    омогућено да издвоје оне садржаје скупова података који им припадају.</p>
                <p class="tool_desc">Уколико имате намеру да на WeLive -у објављујете податке који су већ доступни на другим сајтовима, молимо
                    вас да проверите оригиналне лиценце, политику приватности, услове коришћења података и сл. како бисте
                    проверили да ли на то имате право. Уколико намеравате да објављујете скупове података WeLive-а на другим
                    сајтовима, молимо вас да претходно проверите њихову политику приватности итд., како бисте се уверили
                    да тиме не кршите Услове коришћења WeLive-а. Када одређени скуп података објављујете више пута, додајте
                    референцу оригиналног извора података. WeLive Конзорцијум не плаћа награде за податке објављене од стране
                    корисника. Обавештавамо вас да WeLive конзорцијум може изменити све податке објављене од стране корисника
                    и уклонити их када сматра да подаци нису исправни или да крше циљеве сајта, тј. да су увредљиви. Компонента
                    Оквира Open Data Stack (ODS) обезбеђује механизам да детектује скупове података који могу бити погрешно
                    коришћени. </p>
                <p class="tool_desc">До краја пројекта, политика плаћања по коришћењу публикованих скупова података са додатом вредношћу може
                    бити додата у складу са преференцијама креатора. </p>

                <p class="tool_tit">6. ТАЧНОСТ ПОДАТАКА</p>
                <p class="tool_desc">Подаци су обезбеђени “у виђеном стању“ на извору података, односно, стварне вредности података се не мењају,
                    иако се у циљу олакшавања њихове експлоатације може мењати формат у којем се извозе. ТЕCNАLIА и партнери
                    из WeLive конзорцијума нису одговорни за тачност података или штету и директне или индиректне трошкове,
                    проузроковане употребом ових информација. Оквир омогућава аутоматску процену квалитета података и верификацију
                    њихове исправности.</p>

                <p class="tool_tit">7 ТРЕЋА ЛИЦА</p>
                <p class="tool_desc">У појединим ситуацијама, корисник може да приступи неким другим сајтовима и друштвеним мрежама, изван WeLive
                    конзорцијума, којима управљају трећа лица, путем вебсајта или неке од апликација. ТЕCNАLIА и партнери
                    из WeLive конзорцијума нису одговорни за политику приватности тих сајтова. </p>
                <p class="tool_desc">Уколико користите свој налог на друштвеним мрежама за приступ нашем вебсајту или да користите апликацију,
                    ТЕCNАLIА и партнери из WeLive конзорцијума неће прикупљати ниједну другу информацију осим оне која је
                    потребна за управљање налогом и омогућавање приступа. </p>
                <p class="tool_desc">Уколико објавите било какву информацију на друштвеним мрежама, путем апликације или вебсајта, имајте на уму
                    да ће подаци бити предмет политике приватности и услова те друштвене мреже. </p>

                <p class="tool_tit">8. ВЛАСНИШТО НАД АПЛИКАЦИЈОМ</p>
                <p class="tool_desc">Вебсајт, апликација, Оквир су власништво Конзорцијума. Сви други WeLive артефакти су власништво својих аутора
                    и менаџера Оквира, тј.организације која хостује WeLive решење. Коришћење артефаката треће стране, у случају
                    да постоји ценовни модел за тај артефакт, биће дељена између аутора и организације која хостује Оквир.
                </p>
                <p class="tool_desc">Аутори дају не-ексклузивну и опозиву дозволу за копирање, инсталирање и коришћење апликације у Корисничким
                    уређајима, као и коришћење услуге без додатних трошкова. Ова дозвола не даје кориснику било какво право
                    на власништо над апликацијом, која ће остати код њених аутора.</p>

                <p class="tool_tit">9. ДОСТУПНОСТ</p>
                <p class="tool_desc">ТЕCNАLIА и партнери из WeLive конзорцијума не преузимају обавезу у вези доступности вебсајта, апликације
                    или информација. У сваком случају, они ће уложити сав свој труд у циљу избегавања или умањења могућности
                    за стварање прекида током коришћења сервиса, покушавајући да максимализују време нормалног рада. Провајдер
                    сервиса ће дати обавештење о сваком предвиђеном прекиду сервиса на одговарајући начин и покушаће да минимализује
                    застоје.
                </p>
                <p class="tool_desc">ТЕCNАLIА и партнери WeLive конзорцијума нису одговорни за штету и директне или индиректне трошкове настале
                    услед недоступности сервиса. </p>

                <p class="tool_tit">10. ПРАВНА ЗАШТИТА</p>
                <p class="tool_desc">Одобравамо кориснику не-ексклузивну и опозиву дозволу за инсталирање, копирање и коришћење апликације у своје
                    уређаје, као и коришћење сервиса без накнаде. </p>
                <p class="tool_desc">Сагласни сте да НЕЋЕТЕ користити апликацију у циљу: </p>
                <ul>
                    <li> ометања или манипулације Сервиса; </li>
                    <li> злонамерне измене података; </li>
                    <li> прикупљање података о корисницима апликације; </li>
                    <li> претњи, узнемиравања, изнуде других корисника; </li>
                    <li> ометања сервиса трећих лица; </li>
                    <li> утицања на ауторска права трећих лица. </li>
                </ul>
                <p class="tool_desc">Апликација је обезбеђена “у виђеном стању“ и користите је на сопствену одговорност. WeLive конзорцијум се
                    одриче одговорности за грешке, кварове у вашем терминалу, прекиде у другим апликацијама, губитак података
                    и недоступност, у случају коришћења апликације. </p>

                <p class="tool_tit">11. МЕРОДАВНИ ЈЕЗИК</p>
                <p class="tool_desc">Ови „Услови Коришћења“ алатки WeLive Екосистема су написани на енглеском језику и преведени су на друге језике
                    ради погодности корисника. Можете приступити и видети верзије на другим језицима едитујући подешавања
                    језика у апликацији. Уколико је преведена верзија (која није енглеска) ових Услова коришћења у било каквом
                    конфликту са енглеском верзијом, енглеска верзија ће се сматрати меродавном.</p>

            </div>

        </div>

    </div>

</div>