<div>
    <div id="policy_screen">
        <div class="help_title">WELIVE – TERMS AND CONDITIONS OF USE</div>

        <div class="policy_box">

            <div class="policy_text">

                <p class="tool_tit">1. INTRODUCTION: TERMS & CONDITIONS – Applicable worldwide expect where we publish specific territorial terms
                    and conditions</p>

                <p class="tool_desc">These terms and conditions (“Terms”) set important information regarding the rights, obligations and restrictions
                    that may apply you as user (“User”) when you access any of the web services (“Service”) provided under
                    the Internet domain http://dev.welive.eu (“Website”) in order to access, download and use the application
                    WeLive Player and the different public services apps (“Application”) or whatever the services provided
                    by using it. All artefacts, i.e. datasets, building blocks (or composable micro-services) and apps, managed
                    within the WeLive solution are managed by its framework (“Framework”). The WeLive Player application
                    acts as a marketplace for those applications developed within the WeLive framework, allowing users to
                    discover which applications are available on their surroundings making use of public data. Moreover,
                    the Website allows access to other artifacts (“Artefact”) such as: public services applications, building
                    blocks and datasets. The Framework, Website and the Application, where no specifically provided, are
                    supplied by all the partners that make up WeLive Consortium (“Consortium”). The WeLive Project (http://www.welive.eu)
                    has received funding from the European Union’s H2020 Programme for research, technological development
                    and demonstration under grant agreement No 645845. The project encompases 36 months from February 2015
                    to January 2018</p>

                <p class="tool_desc">These Terms and conditions are available in the Application installed in your device or in the Website. You
                    must accept the Terms and other applicable laws regarding the use of WeLive providing services through
                    its components and artefacts (Artefact, Website and Framework). The User might play the role of consumer
                    or WeLive services but might also produce (prosume) services. Contributed services must comply the Data
                    Regulation Policy of the country hosting WeLive infrastructure. Free services and non-private data provided
                    by the User and hosted in the Framework are property of the Consortium. However an artefact provider
                    has the right to remove its own published artefacts, independently on whether they are used by others
                    or not. When a user unregisters from the framework her artefacts are anonymised and will remain in the
                    Framework unless a user explicitly indicates her wish to remove them. </p>

                <p class="tool_desc">If you do not agree with these Terms or consider that possible future changes of them will make unacceptable
                    for you, please do not use WeLive. By using WeLive including, but not limiting to, the Website, the Application,
                    the Framework, the building blocks, datasets, public Services apps, updates, etc. we will consider that
                    you accept these Terms and any change we make to them. You accept to use WeLive only for purposes that
                    are legal, proper and in accordance with these Terms and with any applicable regulation.</p>

                <p class="tool_desc">We consider you accept the Terms, when you expressly accept them during the registration process and /or
                    in the installation process of the Application, when you download or update it o when you use it with
                    your device.</p>

                <p class="tool_tit">2. POLICY OF USE</p>

                <p class="tool_desc">WeLive is an open source framework offered for free which allows using it with no limitations. You commit
                    to make a reasonable use of the Website, Framework and the Application and any other kind of artifact.
                    Flood or affect the system performance by reading or writing data in excess that affects to the use of
                    the Service by other users, it is a violation of the Terms.</p>

                <p class="tool_desc">The Website and Application allows you to publish some information. You will be responsible for the information,
                    opinion, comments, etc. you express in WeLive, directly or by using the Website, Application and/or Service.
                    The user commits not to publish, or encourage the publication of: </p>

                <ul>
                    <li> information that is offensive, discriminatory, humiliating, obscene, etc. or which may cause offence
                        to others in terms of race, religion, sex or ethnicity; </li>
                    <li> any material which incites the commission of crime; </li>
                    <li> any material is not yours, you don’t have authorization to publish it or infringes copyrights, patents
                        or marks; </li>
                    <li> advertising, spam, pyramid scheme; </li>
                    <li> information to deceive other users; </li>
                    <li> information on how to exploit security breaches; </li>
                    <li> files containing virus, Trojans or another type of malicious code which can affect to the performance
                        of the Service or to other Users;</li>
                    <li> files, links or other material which tries to stole other users accounts; </li>
                    <li> any piece of software to collect information from other user; </li>
                    <li> any other thing that circumvents or doesn’t comply with current local laws.</li>
                </ul>

                <p class="tool_desc">Sometimes you will need to register at the Website and/or some of the applications developed and hosted through
                    WeLive in order to be able to use them. The User commits to provide real information during the registration
                    process and whenever the Service asks for it. You must update the information when there are any changes
                    in it. In case of suspicion about the veracity of your data we are entitled to suspend your account.
                    If a user unregisters from WeLive, all the artefacts provided by her will remain anonymized, i.e. without
                    links to the unregistered user, in the Framework. </p>

                <p class="tool_desc">The WeLive framework provides a public Application Programming Interface (“API”) with some methods that allow
                    to change the status of users, ideas and artefacts within the framework. Only users who have previously
                    registered with the framework and whose profile is stored in the Citizen Data Vault (“CDV”) are allowed
                    to execute such operations. </p>

                <p class="tool_desc">The infringement of the policy of use will cause the cancelation of the user account and the rejection to
                    the creation of a new one and we could also apply some methods to avoid the future use of the Application
                    by the banned user.</p>

                <p class="tool_desc">We can change the Service at any time, adding, modifying or suppressing some of them. We’ll try to communicate
                    those changes in a reasonable manner. If you continue using the Service, we understand then you have
                    accepted the changes and the Terms.</p>

                <p class="tool_tit">3. PAY FOR THE SERVICE</p>

                <p class="tool_desc">The Website, Framework, Application, public API, public services and any other kind of artefact provided
                    by WeLive consortium are cost free during the execution of the pilots in its two phases. On the other
                    hand, usage of public services, applications, building blocks or other artefacts provided by third parties
                    may involve a cost. Possible payments for such third party services are charged directly by the service
                    provider outside the WeLive Framework and WeLive is not responsible for these payment transactions in
                    any way.</p>
                <p class="tool_desc">Towards the end of the project a pricing policy for artefacts will be defined. In case we decide to change
                    the Service or part of it into a Pay per Use Service, after project’s end, we will communicate it and
                    the prices, in a reasonable way and enough time to allow the users to stop using the Service if they
                    do not want to pay.</p>
                <p class="tool_desc">The Application may need access to a communication network for a correct operation. The access to a network
                    may mean additional costs for the use of data networks. These costs are not attributable to WeLive and
                    the User must deal with them.</p>


                <p class="tool_tit">4. DATA PRIVACY</p>

                <p class="tool_desc">Before using the Service, users must approve the Consent Form, which will be provided to them the first time
                    they launch the Application or access the Website. When you fill out the registration form in the Website
                    or in some of the WeLive applications, you provide some personal (non-sensitive) data and expect that
                    we manage them diligently. The WeLive Application and/or Website will never request you sensitive data
                    (for more information about what sensitive data includes please see Article 8 of the DIRECTIVE 95/46/EC
                    - https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf).
                    The Consortium (TECNALIA Research and Innovation and the rest of the partners) will manage data in a
                    suitable way and always in accordance with national regulations or, when applicable, with the upcoming
                    EU data protection act, which will come into effect in 2018.</p>
                <p class="tool_desc">Additionally the User must protect the provided account using security means supplied for it, including but
                    no limiting to: Build a strong password; Change the password frequently; Not to share login data; etc.</p>
                <p class="tool_desc">The Consortium will use data, provided by Users, to manage the use of Website, Application, Framework and
                    WeLive artefacts. We do not trade with the data of the users.</p>
                <p class="tool_desc">The Consortium will collect personal data from users, always subject to user authorization, during the use
                    of the Service. Such data will be kept in the Citizen Data Vault, a component which ensures that only
                    controlled and previoulsy authorized access is allowed. The personal data collected will be anonyzed
                    and aggregated in order to generate statistical indicators about the usage of the Service. Indeed, logs
                    are issued by WeLive components internally where a user is identified by a unique ID, for aggregation
                    puposes, only known by WeLive system. This serves to collect info about usage of the tools and artefacts
                    in WeLive in order to generate metrics and visualizations based on them to measure in time the acceptance
                    and take-up of the framework and its services. Neither the metrics nor the visualizations disclose user
                    IDs. This information will be used to improve the framework and Services or evaluate the use of the different
                    tools and components. This information might also be used for recommendation and for analytical purposes
                    within WeLive. Besides, personal data (email addresses) will also be utilized when communicating with
                    the users during the pilot evaluation. Personal data will never be disclosed to third party services
                    unless the user explicitly consents it. Sensitive data is not explicitly gathered by WeLive system. New
                    applications gathering personal data must not use WeLive components to store sensitive data. WeLive Consortium
                    forbids storing users’ personal sensitive data into any of the WeLive Framework components. Any attempt
                    to do so may cause termination of related WeLive user accounts and removal of related artefacts and data
                    from the WeLive framework. Our understanding of sensitive data is the one given by EU’s paper on the
                    topic1. Users of WeLive-compliant apps must comply with this Terms and Conditions of Use document’s restriction
                    on the storage of sensitive data within WeLive.
                </p>
                <p class="tool_desc">Users can customize the use of the Application and searches determining some filters (they may involve personal
                    data). They are not also collected for any reason.</p>

                <p class="tool_tit">5. PROPERTY OF THE DATA</p>

                <p class="tool_desc">The data provided by the Service and accessible through the Website, Application and any kind of artefact
                    part of the WeLive environment come from publicly accessible sources or their proprietors allow the use
                    of them by the public, and therefore they maintain the ownership and control of these data, jointly with
                    the Framework managers. Still it is possible to store private data in WeLive where only users authorized
                    for it will be allowed to access it.</p>
                <p class="tool_desc">User may access data with no cost. Any derivative works that access these data should allow the access to
                    them with no cost.</p>
                <p class="tool_desc">Users are allowed to create new datasets either through the Framework or Application and will have full access
                    to them. When they create a dataset they will specify whether the dataset will be publicly or privately
                    used. The data contributions generated by the User, when it is not of private or personal nature, will
                    belong both to the User and the framework maintainer (Consortium). Users will maintain control of those
                    datasets that they create and will be able to update or remove them. Datasets derived from existing public
                    datasets will be shared within the Framework and cannot be removed unless it includes personal or private
                    data. Any trace,e.g. user IDs that might link back to unregistering users in their contributed data contents
                    will be anonymized by linking them to a generic removed user ID. At any time, the User will have access
                    through the Framework's Citizen Data Vault (CDV) component to extract all her personal data. Besides,
                    through the Open Data Stack (ODS) component, users will be allowed to also extract the contents of those
                    datasets that belong to them.</p>
                <p class="tool_desc">If you intend to publish data that is already available in other sites also in WeLive, please check the original
                    licence, privacy policy, data usage terms etc. first to ensure that you have the right to do so. If you
                    intend to publish WeLive datasets also in other sites, please check their privacy policy etc. to ensure
                    that WeLive terms of use are not violated. When you re-publish a dataset, add a reference to the original
                    data source.</p>
                <p class="tool_desc">WeLive Consortium does not pay any reward for the data published by users. We inform you that Consortium
                    may revise all data published by users and remove them when they consider that data are wrong or they
                    violate site goals, e.g. they are offensive. The Framework component Open Data Stack (ODS) does provide
                    mechanisms to detect datasets which might be used wrongly.</p>
                <p class="tool_desc">Towards the project end, pay per use policies for published value-added datasets, might be added according
                    to the creator preference.</p>

                <p class="tool_tit">6. DATA ACCURANCY</p>

                <p class="tool_desc">Data is provided “as is” provided by the data sources, i.e. actual data values are not changed, although
                    the format in which they are exported might be rearranged to ease exploitation. TECNALIA and partners
                    from WeLive consortium are not responsible for the accuracy and availability of the data or any damage
                    and direct or indirect costs, caused by the use of this information. The Framework does provide facilities
                    to automatically assess the quality of the data and to verify its correctness. </p>

                <p class="tool_tit">7. THIRD PARTIES</p>

                <p class="tool_desc">Sometimes the user can access some other sites and social networks, external to the Consortium and managed
                    by third parties, from the Website or from some of the Applications. TECNALIA and partners from WeLive
                    consortium are not responsible for the privacy policy or possible usage costs of those sites.</p>
                <p class="tool_desc">If you use your social network account to access our Website or to use the Application, TECNALIA and partners
                    from WeLive consortium will not collect any other information than that explicititly authorized by the
                    User to manage the account and the access to it.</p>
                <p class="tool_desc">If you publish any information on social networks, through the Application or Website, please note that the
                    data will be subject to the privacy policy and to the terms and conditions of that social network.</p>


                <p class="tool_tit">8. PROPERTY OF THE APPLICATION</p>

                <p class="tool_desc">The Website, Application, Framework is property of the Consortium. Any other WeLive artefact is property
                    of its authors and the Framework manager, i.e. the organization hosting the WeLive solution. Third party
                    artefacts’ exploitation, if a pricing model is set up for the artefact, will be shared by the authors
                    and the Framework hosting organization. </p>
                <p class="tool_desc">The authors grant a non-exclusive and revocable license to copy, install and use the Application in the user
                    devices and to use the Service at no cost. This license does not give to the User any right on the Application
                    property which will remain on the authors. </p>

                <p class="tool_tit">9. AVAILABILITY</p>

                <p class="tool_desc">TECNALIA and partners from WeLive consortium do not acquire any commitment on the availability of the Website,
                    Applications or the information. In any case they will put all their effort to avoid or minimize any
                    interruption of the Service, trying to maximize uptime. Service providers will inform of any scheduled
                    service interruption in a suitable way and it will try to minimize downtime.</p>
                <p class="tool_desc">TECNALIA and partners form WeLive consortium are not responsible for the damage and direct or indirect costs
                    caused for the service unavailability.</p>

                <p class="tool_tit">10. LEGAL PROTECTION</p>

                <p class="tool_desc">We grant to the user a non-exclusive and revocable license to install, copy and use the Application in their
                    devices and to use the Service at no cost.</p>
                <p class="tool_desc">You agree that you will NOT use the application to: </p>

                <ul>
                    <li> Interfere or manipulate the Service; </li>
                    <li> Modify data maliciously; </li>
                    <li> Collect data of the users of the application; </li>
                    <li> Threaten, disturb, extort to other users; </li>
                    <li> Interfere third parties services; </li>
                    <li> Affect third parties copyrights.</li>
                </ul>

                <p class="tool_desc">The Application is provided “as is” and you use it under your own responsibility. The Consortium disclaims
                    liability for errors, malfunctions in your terminal, interruptions to other applications, data loss and
                    unavailability, if you use the Application. </p>

                <p class="tool_tit">11. LANGUAGE PREVALENCE</p>

                <p class="tool_desc">These “Terms and Conditions of Use” of WeLive Ecosystem of tools were written in English and translated into
                    other languages for the convenience of the user. You can access and view the other language versions
                    by editing the application's language settings. If a translated (non-English) version of these Terms
                    and Conditions in any way conflicts with the corresponding English version, the provisions of the English
                    version will be considered prevalent. </p>

            </div>

        </div>

    </div>

</div>