<div>
    <div id="policy_screen">
        <div class="help_title">WELIVE – TÉRMINOS Y CONDICIONES DE USO</div>

        <div class="policy_box">

            <div class="policy_text">

                <p class="tool_tit">1. INTRODUCCIÓN: TÉRMINOS Y CONDICIONES – aplicables en todo el mundo salvo en aquellos sitios que se hayan
                    publicado términos y condiciones específicas para dicho territorio </p>
                <p class="tool_desc">Estos términos y condiciones (“Términos”) contienen información importante acerca de los derechos, obligaciones
                    y restricción que se le pueden aplicar a usted como usuario (“Usuario”) cuando accede a cualquiera de
                    los servicios web (“Servicios”) proporcionados bajo el dominio de internet http://dev.welive.eu (“Sitio
                    Web/Plataforma/Sistema”) o cuando accede, descarga y usa la aplicación WeLive Player y los diferentes
                    servicios públicos (“Aplicación”) y cualquiera de los servicios que se proporcionan a través de ella.
                    Todos los artefactos que forman parte del sistema, es decir: datasets, building blocks y aplicaciones,
                    gestionadas dentro de la solución WeLive son gestionados por la plataforma (“Plataforma”). El WeLive
                    Player actúa como una “tienda” para aquellas aplicaciones desarrolladas dentro de la plataforma WeLive,
                    permitiendo a los Usuarios encontrar qué aplicaciones están disponibles en su entorno haciendo uso de
                    información pública. Además, es posible que desde la aplicación o desde el Sitio Web pueda acceder a
                    otros artefactos (“Artefacto”) como: aplicationes, building blocks y datasets. La plataforma, Sitio Web
                    y la aplicación, salvo que se indique lo contrario, son proporcionados por todos los socios que conforman
                    el consorcio WeLive (“Consorcio”). El proyecto WeLive (http://www.welive.eu/) ha sido financiado por
                    el programa marco de la Unión Europea (H2020) dentro del acuerdo nº 645845.</p>
                <p class="tool_desc">Estos Términos pueden ser accedidos a través de la Aplicación instalada en su dispositivo o en el Sitio Web.
                </p>
                <p class="tool_desc">El uso de la Aplicación, del Sitio Web y de la plataforma WeLive (Artefactos, Servicios y Plataforma) requiere
                    la aceptación de los términos expuestos a continuación, así como el de cualquier ley que pueda estar
                    relacionada con el uso de WeLive. El Usuario de la Plataforma puede desempeñar el rol de consumidor de
                    los servicios de WeLive pero tambien el de producto y proveedor de nuevos servicios (Prosumer). Los nuevos
                    servicios creados deben cumplir con la polítical de protección y acceso a los datos del país donde se
                    encuentra la plataforma. Los servicios gratuitos y los datos no-privados proporcionados por el Usuario
                    y alojados en la plataforma son propiedad del Consorcio. Sin embargo, un proveedor de artefactos tiene
                    el derecho a eliminar dichos artefactos publicados previamente, independientemente si éstos están siendo
                    usados por otros usuarios o no. Cuando un Usuario decide eliminar el Usuario de la plataforma, sus artefactos
                    son anonimizados y permanecerán en la plataforma a menos que el Usuario explicitamente indique que desea
                    su eliminación. </p>
                <p class="tool_desc">Por favor si no está de acuerdo con estos Términos o considera que futuros cambios en los mismos pueden hacer
                    que no sean aceptables para usted, no use WeLive. El uso continuado de WeLive incluyendo, pero no limitándose,
                    el Sitio Web, las aplicaciones, la Plataforma, los artefactos y la información actualizaciones y servicios
                    se considerará una aceptación de los estos términos y cualquier cambio que se realice en los mismos.
                    Además usted acepta usar WeLive con propósitos únicamente legales, apropiados, acordes a estos Términos
                    y a las políticas locales. </p>
                <p class="tool_desc">Se considerará aceptación de los Términos, la aceptación expresa de los mismos durante el proceso de registro
                    y/o a la hora de instalar la Aplicación, cuando se descarga ésta o una actualización y cuando se usa
                    la misma en un dispositivo. </p>

                <p class="tool_tit">2. POLÍTICA DE USO</p>
                <p class="tool_desc">WeLive es una plataforma gratuita que permite su uso de forma no limitada. Usted se compromete a hacer un
                    uso razonable de la misma: Plataforma, Sitio Web, Servicios, Aplicación y cualquier clase de Artefacto.
                    Se considera una violación de los Términos la consulta o escritura de datos excesiva de tal forma que
                    el sistema se quede saturado o afectado no pudiendo dar servicio a otros usuarios. </p>
                <p class="tool_desc">El Sitio Web, Aplicación y Plataforma permite la publicación de información. El Usuario se hace responsable
                    de toda la información, opinión, comentario, etc. que publique en WeLive directamente o a través del
                    Sitio Web, Aplicación y Plataforma.</p>
                <p class="tool_desc">El Usuario se compromete a no publicar, ni fomentar la publicación de: </p>
                <ul>
                    <li> información injuriosa, discriminatoria, vejatoria, obscena, etc. o cualquier otra que pueda considerarse
                        ofensiva en términos relativos a raza, religión, etnia, sexo; </li>
                    <li> Material que incite a la comisión de delitos; </li>
                    <li> material del que no se sea titular y no se disponga de autorización para publicarlo o que infrinja el
                        copyright, patentes, marcas registradas; </li>
                    <li> publicidad, spam, esquemas piramidales; </li>
                    <li> información que tenga como objetivo engañar a otros; </li>
                    <li> material que explote o permita explotar brechas de seguridad; </li>
                    <li> material que contenga virus, troyanos u otro tipo de código malicioso que afecte al funcionamiento del
                        servicio o a los usuarios; </li>
                    <li> material que acceda o intente acceder a las cuentas de otros usuarios; </li>
                    <li> material que recopile información de otros usuarios; </li>
                    <li> todo aquello que incumpla la ley local vigente. </li>
                </ul>
                <p class="tool_desc">En algunos casos, puede ser necesario el registro en el Sitio Web y/o en alguna de las aplicaciones desarrolladas
                    y alojadas en la plataforma WeLive para poder usar la aplicación. El Usuario se compromete a proporcionar
                    información actual y precisa para formalizar el registro y siempre que se le solicite. Esta información
                    además se deberá mantener actualizada. En caso de existir la sospecha de usar información falsa o inexacta
                    se podrá suspender la cuenta. En el caso que el Usuario decida eliminar el registro previo, todos sus
                    artefactos permanecerán anónimos; es decir, sin ningún tipo de relación con el Usuario cuyo registro
                    ha sido borrado en la Plataforma. </p>
                <p class="tool_desc">La plataforma WeLive proporciona una API pública con un conjunto de métodos a través de los cuales se puede
                    modificar el estado de los artefactos dados de alta en el sistema. Únicamente a los usuarios que se hayan
                    registrado previamente en la plataforma y cuyo perfil exista en el Citizen Data Vault (“CDV”) se les
                    permite ejecutar dichas operaciones.</p>
                <p class="tool_desc">La violación de la política de uso supondrá la cancelación inmediata de la cuenta de usuario y el rechazo
                    de la creación futuras cuentas y la de aplicación de los medio para impedir el uso de la Aplicación,
                    Plataforma y/o Sitio Web. </p>
                <p class="tool_desc">En cualquier momento se pueden modificar los servicios, o suprimir parte de ellos. Los cambios serán notificados
                    de forma razonable. Seguir usando los servicios será entendido como una aceptación de los cambios y de
                    los términos y condiciones. </p>

                <p class="tool_tit">3. PAGO POR EL SERVICIO</p>
                <p class="tool_desc">El Sitio Web, Aplicación, Plataforma, API pública, Servicios y Artefactos proporcionados por WeLive se ofrecen
                    y proporcionan sin ningún coste durante las dos fases de ejecución del Piloto del proyecto. En otro ámbito,
                    la utilización de Aplicaciones, Servicios y Artefactos proporcionados por terceras partes puede implicar
                    algún tipo de coste. Los pagos requeridos para la utilización de los servicios proporcionados por terceras
                    partes son cargados de forma directa por el proveedor del servicio y fuera de la Plataforma WeLive y
                    WeLive, en este caso, no es responsable de nuinguna manera de estas transacciones. </p>
                <p class="tool_desc">En caso de que en un futuro se decidiese cobrar por el uso del servicio o ciertas partes de él, se comunicaría
                    de forma razonable, así como las tarifas, permitiendo a los usuarios que no quieran usar esos servicios
                    de pago mantener los servicios gratuitos o dejar de usar el servicio proporcionado antes de empezar a
                    facturar por el uso. </p>
                <p class="tool_desc">El uso de la Plataforma, Servicios y Aplicación implica un acceso a red lo que puede suponer costes adicionales
                    para el usuario cuando lo hace tanto desde dispositivos móviles como desde dispositivos fijos por el
                    uso de tarifas de red o de datos. Estos costes no son en ningún caso atribuibles a WeLive y serán asumidos
                    por el Usuario. </p>

                <p class="tool_tit">4. PRIVACIDAD DE LOS DATOS</p>
                <p class="tool_desc">Antes de comenzar a usar el Servicio, los Usuarios deben aprobar el documento de Términbos y Condiciones
                    de Uso, que será mostrado a los Usuarios la primera vez que lanzan las Aplicaciones y/o se registran
                    en el Sitio Web y Plataforma. Cuando usted se registra en el Sitio Web y/o en alguna de las aplicaciones
                    para su uso, proporciona una serie de datos personales (no sensibles) que espera se gestionen de una
                    forma correcta. El Sitio Web en ningún caso le solicitará datos sensibles (para más información acerca
                    de qué se considera datos sensibles, por favor, revisen el artículo 8 de la Directiva Europea 95/46/EC
                    - https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_EN.pdf).
                    TECNALIA y el resto del consorcio de WeLive tratará esos datos adecuadamente y siempre de acuerdo a las
                    exigencias de la legislación local vigente o, en su ausencia, la legislación europea para la protección
                    de los datos que tendrá efecto en el año 2018. Así mismo el Usuario deberá proteger su cuenta usando
                    los medios que se le proporcionan para ello como son, sin limitarse a ellos, el uso de una contraseña
                    adecuada, el cambio periódico de la misma, o no compartir los datos de la cuenta. TECNALIA y el resto
                    del consorcio de WeLive usará los datos proporcionados por los Usuarios para gestionar y monitorizar
                    el uso del Sitio Web, Plataforma, Aplicaciones y los artefactos de WeLive. En ningún momento negociará
                    con los datos y los mismos serán utilizados únicamente para la gestión del uso del Sitio Web. </p>
                <p class="tool_desc">TECNALIA y el resto del consorcio de WeLive recopilarán información personal de los Usuarios, siempre sujeta
                    a autorización previa por parte del Usuario, durante su uso del Servicio. Estos datos se almacenarán
                    en el Citizen Data Vaulto (“CDV”), un componente encargado de asegurar y controllar el acceso a los datos
                    previa autorización. Sí se podrá recopilar información estadística anónima sobre el uso del servicio
                    para tratar de mejorar el mismo y hacer una evaluación del uso de cada uno de los servicios. De hecho,
                    dentro de esta información anonimizada, creada internamente por los componentes de WeLive, los usuarios
                    son identificados mediante un identificador único solamente conocido por el sistema WeLive. Esto permite
                    recuperar información sobre la ultilizacion de las distintas herramientas y artefactos que forman parte
                    de WeLive y será usada para generar métricas y visualizaciones de éstas que permitan al proyecto evaluar
                    en tiempo real la acepetacion de la plataforma y de los servicios. En ningún caso estas métricas y visualizaciones
                    revelarán los Identificadores de los usuarios. Esta información puede, también, ser utilizada para el
                    envío de recomendaciones personalizadas de acuerdo al perfil del usuario. Además, los datos personales
                    (correo electrónico) será unicamente usado para establecer comunicación directa con los Usuarios durante
                    el Piloto. Los datos personales nunca serán revelados a terceras partes a menos que el Usuario explicitamente
                    lo consienta. El Sitio Web explícitamente no recopila datos sensibles sobre los usuarios. Cualquier Aplicación
                    que recopile y/o use datos sensibles no está autorizada a usar ninguno de los componentes de WeLive para
                    el almacenamiento de dichos datos sensibles. La plataforma WeLive no permite que datos personales sensibles
                    de los usuarios sean almacenados en la misma. Como datos sensibles consideramos aquellos incluidos en
                    el siguiente documento oficial de la UE1. Los usuarios de cualquier aplicación compatible con el sistema
                    WeLive deben cumplir con esta restricción relativa al almacenamiento de datos personales sensibles dentro
                    de WeLive. </p>
                <p class="tool_desc">Los Usuarios pueden personalizar la Aplicación y las búsquedas mediante el uso de filtros. Estos filtros
                    solo se guardarán en el dispositivo del usuario y en ningún momento viajarán por la red o serán recopilados
                    por ningún motivo. </p>

                <p class="tool_tit">5. PROPIEDAD DE LOS DATOS</p>
                <p class="tool_desc">Los datos a los que el usuario accede a través del Sitio Web, Plataforma, Aplicación y de cualquier Artefacto
                    provienen de fuentes públicas o sus propietarios los han puesto a disposición del público para su uso
                    y por tanto mantienen su propiedad y el control de los mismos conjuntamente con el gestor de la Plataforma.
                    En WeLive, es posible el almacenamiento de datos privados donde únicamente Usuarios autorizados tendrán
                    acceso a los mismos. </p>
                <p class="tool_desc">Los datos se ponen a la disposición del Usuario para su consulta. No se permite la recopilación o la creación
                    de bases de datos a partir de estos. </p>
                <p class="tool_desc">El acceso de los datos se ofrece sin ningún coste. El desarrollo de trabajos derivados que accedan a estos
                    datos deberá mantener siempre el acceso a ellos sin coste. </p>
                <p class="tool_desc">Se permite a los Usuarios la creación, actualización, modificación e inclusión de nuevos datos en la Plataforma
                    y/o Aplicación and se asegura el acceso completo a los mismos. Durante la creación de los datos, los
                    Usuarios deben especificar si éstos datos serán de dominio público (por defecto) o privado. Los datos
                    generados por el usuario, en el caso de que no sean de naturaleza personal y/o privados, pertenecerán
                    tanto al Usuario como a la organización encargada del alojamiento de la Plataforma (Consorcio). Los Usuarios,
                    en todo momento, mantendrán el control sobre los datos que hayan creados y serán capaces de eliminarlos.
                </p>
                <p class="tool_desc">Los datos generados por los usuarios sobre datasets de carácter público son compartidos en la plataforma
                    y el usuario no tendrá la posibilidad de borrarlos a menos que incluyan datos de carácter personal o
                    privado. Cualquier rastro, como por ejemplo los Identificadores de Usuario, que pueda ser usado para
                    vincular a usuarios que quieren desregistrarse de la plataforma a través de los datos que crearon previamente
                    serán anonimizados vinculándolos a un ID genérico. En cualquier momento, el Usuario dispondrá de acceso
                    a los datos a traves del “CDV” desde donde podrá extraer todos sus datos personales. Del mismo modo,
                    a través del Open Data Stack (“ODS”), se permitirá al usuario a extraer los contenidos de los datos que
                    le pertenecen. Los nuevos datos creados serán de dominio público al igual que son los datos con los que
                    están trabajando y usando. </p>
                <p class="tool_desc">En el caso de que tenga la intención de publicar datos en WeLive que ya se encuentren disponibles en otros
                    sitios web o redes sociales, por favor refiérase a la política de privacidad de dichos sitios antes de
                    publicar con el fin de asegurarse el derecho a poder hacerlo. Asimismo, en el caso de tener la intención
                    de publicar datos de WeLive en otros sitios web, por favor, comprueben primero la política de privacidad
                    para asegurarse de que los presentes Términos y Condiciones de Uso no son incumplidos. En el cao de republicar
                    datos, es necesarioañadir una referencia al origen de los datos. </p>
                <p class="tool_desc">El consorcio WeLive no pagará ninguna contraprestación económica por los datos proporcionados. TECNALIA y
                    el resto del consorcio de WeLive se reserva el derecho de revisar los datos aportados y eliminarlos en
                    caso de considerar que no son correctos o que violan el propósito del sitio. El componente del sistema
                    denominado “Open Data Stack” proporciona los mecanismos necesarios para identificar aquellos datos que
                    podrían ser usados de forma incorrecta. </p>
                <p class="tool_desc">Una vez que el proyecto concluya, los datos publicados podrían tener un coste asociado a su consumo siempre
                    y cuando el creador de estos datos así determine. Por favor, si desea retener el copyright de sus datos
                    u obtener alguna contraprestación por ellos es preferible que no los publique.</p>


                <p class="tool_tit">6. EXACTITUD DE LOS DATOS</p>
                <p class="tool_desc">La información se proporciona tal cual la proporcionan las fuentes de datos; es decir, los valores/contenidos
                    no son modificados, aunque el formato en el que son exportados podría ser modificado para facilitar su
                    explotación posterior. TECNALIA y el resto del consorcio de WeLive no se hace responsable de la exactitud
                    de la misma ni de los daños y costes directos o indirectos, causados por el uso de esta información.
                    La Plataforma proporciona herramientas para automáticamente evaluar la calidad de los datos y verificar
                    su exactitud. </p>

                <p class="tool_tit">7. TERCERAS PARTES</p>
                <p class="tool_desc">Es posible que desde el Sitio Web, Plataforma o desde cada una de las Aplicaciones se pueda acceder a otros
                    sitios y redes sociales, ajenas a TECNALIA y el resto del consorcio de WeLive y gestionados por terceras
                    partes. TECNALIA y el resto del consorcio de WeLive no se hace responsable de las políticas de privacidad
                    de estos sitios y de los posibles costes asociados a su utilización. </p>
                <p class="tool_desc">En caso de usar la cuenta de redes sociales para registrarse en el Sitio Web, Plataforma y/o para el uso
                    de la aplicación, TECNALIA y el resto del consorcio de WeLive no recolectará más información que la estrictamente
                    necesaria para gestionar la cuenta y el acceso a la misma. </p>
                <p class="tool_desc">La publicación de información en redes sociales, a través del Sitio Web, Plataforma y/o Aplicación, estará
                    regulada por la política de privacidad y los términos y condiciones de uso de dicha red social. </p>

                <p class="tool_tit">8. PROPIEDAD</p>
                <p class="tool_desc">El Sitio Web, Plataforma, Aplicación y Artefactos de WeLive es propiedad del Consorcio. Cualquier otro Artefacto
                    es propiedad de su autor y del gestor de la plataforma; es decir, la organización encargada del alojamiento
                    de la misma. La explotación de Artefactos proporcionados por terceras partes, en el caso de que se haya
                    configurado un precio por uso del mismo, será compratido por los autores y la organización encargada
                    del alojamiento de la Plataforma. </p>
                <p class="tool_desc">Se concede al usuario una licencia no exclusiva, revocable para copiar, instalar y usar la aplicación en
                    todos sus dispositivos y para usar el Servicio sin ningún coste. Esto no otorga al usuario ningún derecho
                    sobre la propiedad de la Aplicación y Artefactos que seguirán siendo de los autores. </p>

                <p class="tool_tit">9. DISPONIBILIDAD</p>
                <p class="tool_desc">TECNALIA y el resto del consorcio de WeLive no adquieren ningún compromiso de disponibilidad del Sitio Web,
                    Aplicación, Plataforma y Artefactos y/o de la información asociada a los mismo. En cualquier caso pondrá
                    todo su esfuerzo para evitar o minimizar los tiempos de interrupción y que el tiempo de servicio sea
                    el máximo posible. Siempre que sea posible, se notificarán las paradas programadas del sitio que vayan
                    a afectar de forma reseñable a la disponibilidad del servicio. </p>
                <p class="tool_desc">TECNALIA y el resto del consorcio de WeLive no se hace responsable de los daños y los costes directos o indirectos
                    que se puedan causar por la no disponibilidad del sitio. </p>

                <p class="tool_tit">10. PROTECCIÓN LEGAL Y LIMITACIONES</p>
                <p class="tool_desc">Se concede al usuario una licencia no exclusiva, revocable para copiar, instalar y usar la aplicación en
                    todos sus dispositivos y para usar el Servicio sin ningún coste. </p>
                <p class="tool_desc">Usted acepta no usar la aplicación para: </p>
                <ul>
                    <li> interferir o manipular el Servicio; </li>
                    <li> alterar los datos de forma maliciosa; </li>
                    <li> recopilar datos de los usuarios de la Aplicación; </li>
                    <li> amenazar, molestar, chantajear a otros usuarios; </li>
                    <li> interferir en los servicios de terceras partes; </li>
                    <li> afectar a los copyright de terceras partes.</li>
                </ul>
                <p class="tool_desc">La Aplicación se proporciona “tal cual” y usted la usa bajo su propia responsabilidad. TECNALIA y el resto
                    del consorcio de WeLive se exime de la responsabilidad por errores, mal funcionamiento en su terminal,
                    si afecta a otras aplicaciones, pérdida de datos, pérdida de disponibilidad por el uso de la misma. </p>

                <p class="tool_tit">11. INTERPRETACIÓN</p>
                <p class="tool_desc">El presente documento “Términos y Condiciones de Uso” del ecosistema WeLive ha sido escrito en Inglés y traducido
                    a los diferentes idiomas oficiales del proyecto pensando en el beneficio del usuario final. El usuario
                    puede acceder a las diferentes versiones seleccionando los diferentes idiomas existentes dentro de la
                    opcion “Lenguaje” del sitio web. En el caso de que exista alguna incoherencia o conflicto entre las diferentes
                    versiones de este documento, la versión en inglés es la que prevalece con respecto al resto de versiones.</p>
            </div>

        </div>

    </div>

</div>