<div>
    <div id="policy_screen">
        <div class="help_title">WELIVE – KÄYTTÖEHDOT</div>

        <div class="policy_box">

            <div class="policy_text">

                <p class="tool_tit">1. JOHDANTO: EHDOT JA EDELLYTYKSET – Sovelletaan maailmanlaajuisesti paitsi kun julkaisemme erityisiä alueellisia
                    ehtoja </p>
                <p class="tool_desc">Nämä käyttöehdot (“Ehdot”) kertovat tärkeää tietoa oikeuksista, velvollisuuksista ja rajoitteista, jotka
                    voivat koskea sinua käyttäjänä (“Käyttäjä”) kun käytät mitä tahansa https://dev.welive.eu-toimialueen
                    (“Verkkosivu”) verkkopalveluista (“Palvelu”) päästäksesi käsiksi, ladataksesi tai käyttääksesi WeLive
                    Player -sovellusta ja muita julkisen palvelun sovelluksia (“Sovellus”) tai mitä tahansa muita sen tarjoamia
                    palveluita. Kaikki WeLive-palvelun artefaktit eli tietoaineistot, rakennuspalikat (tai koottavat mikropalvelut)
                    ja sovellukset noudattavat sen viitekehystä (“Viitekehys”). WeLive Player -sovellus toimii markkinapaikkana
                    WeLive-viitekehyksessä kehitetyille sovelluksille, ja sen avulla käyttäjät löytävät saatavilla olevat
                    julkista dataa hyödyntävät sovellukset. Lisäksi verkkosivu mahdollistaa pääsyn muihin artefakteihin (”Artefakti”)
                    kuten julkisten palveluiden sovelluksiin, rakennuspalikoihin ja tietoineistoihin. Ellei toisin mainita,
                    Viitekehys, Verkkosivu ja Sovellus ovat kaikkien WeLive-konsortion (”Konsortio”) muodostavien partnerien
                    tarjoamia. WeLive-hanke (http://www.welive.eu) on saanut rahoitusta Euroopan unionin H2020-ohjelmasta
                    tutkimukseen, teknologiseen kehitykseen ja demonstraatioon apurahasopimuksen Nro 645845 mukaisesti. Hanke
                    kestää 36 kuukautta helmikuusta 2015 tammikuuhun 2018.</p>
                <p class="tool_desc">Nämä käyttöehdot ovat saatavilla laitteeseesi asennetussa sovelluksessa tai verkkosivulla. </p>
                <p class="tool_desc">Sinun on hyväksyttävä ehdot ja muut soveltuvat lait, jotka koskevat niiden palveluiden käyttöä, jotka WeLive
                    tarjoaa komponenttiensa ja artefaktiensa (Artefakti, Verkkosivu ja Viitekehys) kautta. Käyttäjä voi olla
                    WeLive-palveluiden kuluttaja, mutta myös palveluiden tuottaja. Tuotettujen palveluiden on noudatettava
                    WeLive-infrastruktuuria ylläpitävän maan dataa koskevaa lainsäädäntöä. Käyttäjän tarjoamat ja Viitekehyksessä
                    ylläpidetyt vapaat palvelut ja ei-yksityinen tieto ovat Konsortion omaisuutta. Artefaktin tarjoajalla
                    on kuitenkin oikeus poistaa omat julkaistut artefaktinsa riippumatta siitä käyttävätkö muut niitä vai
                    eivät. Kun käyttäjä lakkauttaa tilinsä Viitekehyksestä, hänen artefaktinsa anonymisoidaan ja ne säilyvät
                    Viitekehyksessä ellei käyttäjä selvästi osoita haluavansa ne poistettavan. </p>
                <p class="tool_desc">Jollet hyväksy näitä ehtoja tai epäilet mahdollisten tulevien muutosten tekevän ne sinulle mahdottomiksi,
                    ethän käytä WeLiveä. Jos käytät WeLiveä, mukaan lukien Verkkosivua, Sovellusta, Viitekehystä, rakennuspalikoita,
                    tietoaineistoa, julkisten palveluiden sovelluksia, päivityksiä jne., katsomme sinun hyväksyvän nämä Ehdot
                    ja niihin tekemämme muutokset. Sitoudut käyttämään WeLiveä ainoastaan tarkoituksiin, jotka ovat laillisia,
                    asiallisia ja näiden Ehtojen ja muiden soveltuvien säännösten mukaisia. </p>
                <p class="tool_desc">Katsomme sinun hyväksyvän Ehdot, kun selvästi hyväksyt ne rekisteröintiprosessin ja/tai Sovelluksen asennusprosessin
                    aikana, kun lataat tai päivität sen tai kun käytät sitä laitteellasi. </p>

                <p class="tool_tit">2. KÄYTTÖSÄÄNNÖT</p>
                <p class="tool_desc">WeLive on ilmainen avoimen lähdekoodin viitekehys, joten sen käyttöä ei ole rajoitettu. Sitoudut käyttämään
                    Verkkosivua, Viitekehystä ja Sovellusta sekä muita artefakteja järkevästi. Järjestelmän ruuhkauttaminen
                    tai sen toimintaan vaikuttaminen lukemalla tai kirjoittamalla dataa niin että se vaikuttaa Palvelun muihin
                    käyttäjiin on Ehtojen vastaista. </p>
                <p class="tool_desc">Verkkosivu ja Sovellus antavat sinun julkaista joitakin tietoja. Olet vastuussa tiedoista, mielipiteistä,
                    kommenteista jne. jotka ilmaiset WeLivessä suoraan tai käyttämällä Verkkosivua, Sovellusta ja/tai Palvelua.
                </p>
                <p class="tool_desc">Käyttäjä sitoutuu olemaan julkaisematta tai olemaan rohkaisematta julkaisemaan: </p>
                <ul>
                    <li> tietoja, jotka ovat loukkaavia, syrjiviä, nöyryyttäviä, säädyttömiä jne. tai jotka voivat loukata muita
                        rodun, uskonnon, sukupuolen tai etnisyyden perusteella; </li>
                    <li> mitään rikoksen tekoon yllyttävää materiaalia; </li>
                    <li> mitään materiaalia, joka ei ole sinun, jonka julkaisuun sinulla ei ole lupaa tai joka loukkaa tekijänoikeuksia
                        tai patentteja; </li>
                    <li> mainoksia, roskapostia, pyramidihuijauksia; </li>
                    <li> tietoja muiden käyttäjien huijaamiseksi; </li>
                    <li> tietoja turvallisuusaukkojen hyödyntämisestä; </li>
                    <li> tiedostoja, jotka sisältävät viruksia, troijalaisia tai muita haittaohjelmia, jotka voivat vaikuttaa
                        Palvelun toimintaan tai muihin Käyttäjiin; </li>
                    <li> tiedostoja, linkkejä tai muuta materiaalia, joilla pyritään varastamaan toisten käyttäjien tileiltä;
                    </li>
                    <li> mitään ohjelmistoja, joilla kerätään tietoja muilta käyttäjiltä; </li>
                    <li> mitään muuta mikä kiertää tai ei noudata voimassaolevia paikallisia lakeja.</li>
                </ul>
                <p class="tool_desc">Joskus sinun on rekisteröidyttävä Verkkosivulle ja/tai muihin WeLiven kautta kehitettyihin ja ylläpidettyihin
                    sovelluksiin, jotta voit käyttää niitä. Käyttäjä sitoutuu antamaan oikeat tiedot rekisteröintiprosessin
                    aikana ja Palvelun niitä pyytäessä. Sinun on päivitettävä tiedot aina kun niihin tulee muutoksia. Mikäli
                    epäilemme tietojesi todenmukaisuutta, meillä on oikeus lakkauttaa tilisi. Jos käyttäjä lakkauttaa WeLive-tilinsä,
                    kaikki hänen tarjoamansa artefaktit anonymisoidaan eli linkit tilinsä lakkauttaneeseen käyttäjään poistetaan
                    Viitekehyksestä. </p>
                <p class="tool_desc">WeLive-viitekehys tarjoaa julkisen ohjelmointirajapinnan (”Rajapinta”) menetelmin, jotka mahdollistavat käyttäjien
                    statuksen, ideoitten ja artefaktien vaihtamisen alustalla. Vain käyttäjät, jotka ovat rekisteröityneet
                    Viitekehykseen ja joiden profiili on tallennettuna Citizen Data Vault (”CDV”) -komponentissa, voivat
                    käyttää näitä toimintoja. </p>
                <p class="tool_desc">Ehtojen rikkominen johtaa käyttäjätilin perumiseen ja uuden tilin luomisen estämiseen ja voimme myös käyttää
                    joitakin menetelmiä estääksemme kiellettyä käyttäjää käyttämästä Sovellusta jatkossa. </p>
                <p class="tool_desc">Voimme muuttaa Palvelua koska tahansa lisäämällä, muokkaamalla tai poistamalla jotakin. Pyrimme kertomaan
                    muutoksista kohtuullisella tavalla. Jos jatkat Palvelun käyttöä, katsomme sinun hyväksyvän muutokset
                    ja Ehdot. </p>

                <p class="tool_tit">3. PALVELUSTA MAKSAMINEN</p>
                <p class="tool_desc">Verkkosivu, Viitekehys, Sovellus, Rajapinta, julkiset palvelut ja mikä tahansa muu WeLive-konsortion tarjoama
                    artefakti on ilmainen kaksivaiheisen pilotin aikana. Kolmansien osapuolten tarjoamien julkisten palvelujen,
                    sovellusten, rakennuspalikoiden tai muiden artefaktien käyttöön voi liittyä maksu. Mahdolliset maksut
                    näistä kolmannen osapuolen palveluista veloitetaan suoraan palveluntarjoajan toimesta WeLive-viitekehyksen
                    ulkopuolella eikä WeLive vastaa näistä maksuista millään tavalla. </p>
                <p class="tool_desc">Hankkeen loppupuolella määritellään artefaktien maksuperiaate. Jos päätämme muuttaa Palvelun tai osan siitä
                    maksulliseksi hankkeen päätyttyä, kerromme siitä ja hinnoista kohtuullisella tavalla ja kohtuullisessa
                    ajassa, jotta käyttäjät voivat lakata käyttämästä Palvelua, mikäli eivät halua maksaa siitä. </p>
                <p class="tool_desc">Sovellus voi kaivata yhteyttä tietoliikenneverkkoon toimiakseen oikein. Verkkoyhteys voi tuoda lisäkuluja
                    dataverkon käyttämisestä. Nämä kulut eivät ole kytköksissä WeLiveen ja Käyttäjä huolehtii niistä itse.
                </p>

                <p class="tool_tit">4. TIETOSUOJA</p>

                <p class="tool_desc">Ennen Palvelun käyttämistä käyttäjien on hyväksyttävä Suostumuslomake, joka tarjotaan heille Sovellusta tai
                    Verkkosivua käytettäessä ensimmäisen kerran. Kun täytät rekisteröintilomakkeen Verkkosivulla tai jossakin
                    WeLive-sovelluksessa, annat henkilötietoja (ei arkaluonteisia) ja odotat meidän käsittelevän niitä huolellisesti.
                    WeLive Palveluun liittyvät sovellukset tai Verkkosivu eivät koskaan pyydä sinua antamaan arkaluonteisia
                    tietoja (lisätietoja arkaluonteisiksi luettavista tiedoista löydät directiivin 95/46/EY artiklasta 8
                    - https://secure.edps.europa.eu/EDPSWEB/webdav/site/mySite/shared/Documents/EDPS/DataProt/Legislation/Dir_1995_46_FI.pdf).
                    Konsortio (TECNALIA Research and Innovation ja muut partnerit) käsittelee niitä sopivalla tavalla ja
                    aina noudattaen kansallisia säädöksiä tai soveltuvin osin tulevaa EU:n tietosuojalakia, joka tulee voimaan
                    vuonna 2018. </p>
                <p class="tool_desc">Lisäksi Käyttäjän on suojeltava tiliään käyttämällä siihen tarkoitettuja suojauskeinoja, joihin lukeutuvat:
                    Vahvan salasanan luominen; Salasanan vaihtaminen usein; Se, ettei jaa kirjautumistietoja; jne. </p>
                <p class="tool_desc">Konsortio käyttää Käyttäjien tarjoamia tietoja Verkkosivun, Sovelluksen, Viitekehyksen ja WeLive-artefaktien
                    hallintaan. Emme myy käyttäjien tietoja.</p>
                <p class="tool_desc">Konsortio kerää käyttäjiltä henkilötietoja, aina käyttäjän luvalla, palvelun käyttämisen aikana. Näitä tietoja
                    säilytetään CDV-komponentissa, joka varmistaa, että ainoastaan hallittu ja aiemmin auktorisoitu pääsy
                    sallitaan. Kerätyt yksityiset tiedot anonymisoidaan ja kootaan yhteen, jotta Palvelun käytöstä saadaan
                    kerättyä tilastotietoa. Ainoastaan WeLive-viitekehyksen sisäiset komponentit pystyvät lukemaan kerättyjä
                    lokitietoja, joissa käyttäjät tunnistetaan pelkästään heille luodun yksilöivän ID-tunnisteen perusteella,
                    minkä avulla eri vaiheissa kerättyjä tietoja pystytään yhdistelemään. WeLiven tarjoamien työkalujen ja
                    artefaktien käytöstä kerättyjen tietojen avulla voidaan luoda mittareita ja visualisointeja viitekehyksen
                    ja sen palveluiden hyväksynnän ja käytön mittaamiseksi. Mittareissa tai visualisoinneissa ei näytetä
                    käyttäjien tunnistetietoja. Kerättyjä tietoja käytetään Viitekehyksen ja Palveluiden parantamiseen tai
                    eri työkalujen ja komponenttien käytön arviointiin. Tietoa voidaan myös hyödyntää suositus- ja analysointikäyttöön
                    WeLivessä. Lisäksi henkilötietoja (sähköpostiosoitteita) käytetään käyttäjien kanssa kommunikointiin
                    pilottiarvioinnin aikana. Henkilötietoja ei koskaan luovuteta kolmansille osapuolille ellei käyttäjä
                    selvästi anna siihen lupaansa. Arkaluonteisten henkilötietojen tallentaminen WeLive-komponentteihin on
                    erityisesti kiellettyä. WeLive-viitekehykseen perustuvat sovellukset ja palvelut eivät saa käyttää WeLive-komponentteja
                    arkaluonteisten henkilötietojen tallennukseen. Arkaluonteisten henkilötietojen määritelmänä sovellamme
                    EU:n antamia suosituksia aiheesta1. WeLive-yhteensopivien sovellusten kehittäjien ja käyttäjien tulee
                    sitoutua noudattamaan näissä Ehdoissa annettuja rajoitteita arkaluonteisten henkilötietojen tallentamisessa
                    WeLive-komponentteihin. Käyttäjät voivat kustomoida Sovelluksen käyttöä ja hakua erilaisia suodattimia
                    käyttämällä (jotka voivat vaatia henkilötietoja). Näitä ei kerätä mistään syystä. </p>

                <p class="tool_tit">5. DATAN OMISTUSOIKEUS</p>
                <p class="tool_desc">Palvelussa tarjotut digitaaliset tietoaineistot (”Data”), jotka ovat käytettävissä Verkkosivun, Sovelluksen
                    tai minkä tahansa muun WeLive-palveluympäristön osan kautta, tulevat julkisesti käytettävissä olevista
                    lähteistä tai niiden omistaja on sallinut niiden yleisen käytön. Datan alkuperäiset omistajat säilyttävät
                    datan omistusoikeuden ja hallinnan yhdessä Viitekehyksen ylläpitäjien kanssa. WeLive-järjestelmässä on
                    myös mahdollista säilyttää yksityistä dataa, johon pääsy on sallittu vain käyttäjän sallimille tahoille.
                </p>
                <p class="tool_desc">Käyttäjät saavat ilmaisen pääsyn dataan. Kaikkien tätä dataa käyttävien johdannaisteosten tulisi sallia ilmainen
                    pääsy dataan. </p>
                <p class="tool_desc">Käyttäjät voivat luoda uusia tietoaineistoja joko Viitekehyksen tai Sovelluksen kautta ja heillä on näihin
                    aineistoihin täysi käyttöoikeus. Kun käyttäjä luo aineiston, hän määrittelee onko aineisto julkisessa
                    vai yksityisessä käytössä. Käyttäjän toimittama data, lukuunottamatta henkilökohtaista tai yksityistä
                    tietoa, kuuluu sekä käyttäjälle että Konsortiolle. Käyttäjät säilyttävät hallinnan luomiinsa aineistoihin
                    ja voivat halutessaan poistaa ne. Aikaisempiin julkisiin tietoaineistoihin pohjautuvat käyttäjän lisäämät
                    tietoaineistot jaetaan Viitekehyksessä, eikä käyttäjällä ole mahdollisuutta poistaa niitä, elleivät ne
                    sisällä henkilökohtaista tai yksityistä tietoa. Mikäli käyttäjän tili poistetaan Palvelusta, kaikki viittaukset
                    kyseiseen käyttäjään poistetaan myös hänen toimittamiensa tietoaineistojen lähdetiedoista. Käyttäjällä
                    on koska tahansa mahdollisuus saada kaikki henkilökohtainen tietonsa Viitekehyksen Citizen Data Vault
                    (CDV) -komponentin kautta. Käyttäjällä on myös pääsy kaikkiin omistamiinsa aineistoihin Open Data Stack
                    (ODS) -komponentin kautta. </p>
                <p class="tool_desc">Jos aiot julkaista Viitekehyksessä muualta saatavissa olevia tietoaineistoja, tarkista ensin niiden alkuperäisistä
                    käyttöehdoista, että sinulla on oikeus tehdä niin. Jos aiot julkaista Viitekehyksestä löytyviä tietoaineistoja
                    muilla tavoilla, kuten esimerkiksi yhteisöpalveluissa tai kolmansien tahojen verkkosivuilla, perehdy
                    ensin näiden palveluiden käyttöehtoihin varmistaaksesi, ettet loukkaa WeLive-käyttöehtoja tai kyseisten
                    tietoaineistojen lisenssejä. Muista myös säilyttää viite alkuperäiseen tietoaineistoon uudelleenjulkaisun
                    yhteydessä. </p>
                <p class="tool_desc">Konsortio ei maksa palkkioita käyttäjien julkaisemasta datasta. Konsortio voi tarkistaa käyttäjien julkaiseman
                    datan ja poistaa sen, mikäli se on virheellistä tai ei vastaa palvelun tarkoitusta. Viitekehyksen ODS-komponentti
                    sisältää mekanismeja, joilla voidaan havaita aineistojen väärinkäyttöä. </p>
                <p class="tool_desc">Myöhemmässä vaiheessa WeLive-hanketta, tietoaineistojen toimittajilla voi olla mahdollisuus muuttaa julkaisemiensa
                    tietoaineistojen käyttö maksulliseksi. </p>

                <p class="tool_tit">6. DATAN TARKKUUS</p>
                <p class="tool_desc">Data toimitetaan tietosisällöltään sellaisena, kuin se on alkuperäisissä tietolähteissä, mutta aineiston
                    esitysmuoto voi poiketa alkuperäisestä käytön helpottamiseksi. TECNALIA ja sen WeLive-konsortion partnerit
                    eivät ole vastuussa datan tarkkuudesta tai saatavuudesta, eivätkä tiedon käytöstä johtuvista suorista
                    tai epäsuorista kustannuksista. Viitekehys tarjoaa mahdollisuuksia automaattiseen datan laadun ja oikeellisuuden
                    arviointiin. </p>

                <p class="tool_tit">7. KOLMANNET OSAPUOLET</p>
                <p class="tool_desc">Käyttäjä saattaa toisinaan ohjautua Verkkosivun tai joidenkin Sovellusten kautta Konsortion ulkopuolisten
                    kolmansien osapuolien hallitsemiin palveluihin, esimerkiksi yhteisöpalveluihin. TECNALIA ja sen WeLive-konsortion
                    partnerit eivät ole vastuussa näiden palveluiden yksityisyyden suojasta tai mahdollisista käyttökustannuksista.
                </p>
                <p class="tool_desc">Mikäli käytät yhteisöpalvelun käyttäjätiliä tunnistautuaksesi Verkkosivulle tai Sovellukseen, TECNALIA ja
                    sen WeLive-konsortion partnerit eivät kerää muita tietoja kuin ne, joihin Käyttäjä on nimenomaisesti
                    antanut luvan ja pääsyn. </p>
                <p class="tool_desc">Mikäli julkaiset tietoa yhteisöpalveluissa Sovelluksen tai Verkkosivun kautta, huomioi että tämä tiedon julkaisu
                    tapahtuu kyseisen yhteisöpalvelun yksityisyydensuojasopimuksen ja käyttöehtojen alaisesti. </p>

                <p class="tool_tit">8. SOVELLUKSEN OMISTUSOIKEUS</p>
                <p class="tool_desc">Verkkosivu, Sovellus ja Viitekehys ovat Konsortion omaisuutta. Mikä tahansa muu WeLive -artefakti on sen
                    tekijöiden ja Viitekehyksen hallinnoijan eli WeLive-ratkaisun palveluntarjoajan omaisuutta. Kolmannen
                    osapuolen artefaktien tuotto, mikäli hinnoittelumalli on kyseiselle artefaktille määritelty, jaetaan
                    sen tekijöiden ja Viitekehyksen palveluntarjoajan kesken. </p>
                <p class="tool_desc">Tekijät sallivat ei-yksinomaisen ja peruutettavissa olevan lisenssin kopioida, asentaa ja käyttää Sovellusta
                    käyttäjien laitteissa ja käyttää Palvelua ilman kustannuksia. Tämä lisenssi ei anna käyttäjälle Sovelluksen
                    omistusoikeutta, vaan se säilyy tekijöillä. </p>

                <p class="tool_tit">9. SAATAVUUS</p>
                <p class="tool_desc">TECNALIA ja sen WeLive-konsortion partrerit eivät sitoudu huolehtimaan Verkkosivun, Sovellusten tai tiedon
                    saatavuudesta. Edellä mainitut tahot pyrkivät välttämään ja minimoimaan Palvelun katkot ja maksimoimaan
                    sen saatavuuden. Palvelun tarjoajat tiedottavat suunnitelluista palvelun katkoksista sopivaksi katsomallaan
                    tavalla ja pyrkivät minimoimaan katkosten keston. </p>
                <p class="tool_desc">TECNALIA ja sen WeLive-konsortion partnerit eivät ole vastuussa Palvelun käyttökatkoksista aiheutuvista vahingoista
                    eikä suorista tai epäsuorista kustannuksista. </p>

                <p class="tool_tit">10. OIKEUSTURVA</p>
                <p class="tool_desc">Myönnämme käyttäjälle ei-yksinomaisen ja peruutettavissa olevan lisenssin asentaa, kopioida ja käyttää Sovellusta
                    laitteisaan ja käyttää Palvelua ilman kustannuksia. </p>
                <p class="tool_desc">Käyttäjä hyväksyy, ettei käytä Palvelua mihinkään seuraavista tarkoituksista: </p>
                <ul>
                    <li> Palvelun häirintään tai väärinkäyttöön; </li>
                    <li> Datan muokkaamiseen pahansuovasti; </li>
                    <li> Tietojen keräämiseksi palvelun käyttäjistä; </li>
                    <li> Muiden käyttäjien uhkaamiseen, häirintään tai kiristämiseen; </li>
                    <li> Kolmansien osapuolien palveluiden häirintään; </li>
                    <li> Kolmansien osapuolien tekijänoikeuksien loukkaamiseen.</li>
                </ul>
                <p class="tool_desc">Sovellus tarjotaan käyttöön sellaisenaan ja sen käyttö tapahtuu omalla vastuulla. Konsortio ei ole vastuussa
                    Sovelluksen käytöstä aiheutuneista virheistä, vikatilanteista päätelaitteessa, muiden sovellusten käytön
                    häiriöistä, eikä datan tai sen käyttömahdollisuuksien menetyksestä.</p>

                <p class="tool_tit">11. KIELIVERSIOT</p>
                <p class="tool_desc">Nämä WeLive –käyttöehdot on alunperin kirjoitettu englanniksi ja sen jälkeen käännetty eri kielille, jotta
                    käyttäjien olisi helpompi tutustua niihin. Voit tutustua myös Ehtojen muihin kieliversioihin vaihtamalla
                    Sovelluksen kieliasetuksia. Mikäli käännetyt (ei enlanninkieliset) käyttöehdot ovat millään tavalla ristiriitaisia
                    vastaavan englanninkielisen version kanssa, englanninkielisessä versiossa määriteltyjä ehtoja tulee soveltaa
                    ensisijaisesti. </p>

            </div>

        </div>

    </div>

</div>